body {
	font-family: sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.wrapper {
	display: block;
	position: relative;    /*   <<-----  */
	width: 100%;
	margin: 0 auto;
	right: 0;    /*   <<-----   */
	transition: all .3s ease-in-out;     /*   <<-----  */
}
.wrapper.open {
	right: 280px;
}

header {
	display: block;
	height: auto;
	background-image: url("../img/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header_fix {
	display: block;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
	z-index: 1000;
}
.header_fix__container {
	display: none;
}

.clearfix:after {
	display: block;
	content: '';
	overflow: hidden;
	clear: both;
}

.header_new__container {
	display: block;
	position: relative;
	float: left;
	width: 95%;
	/*max-width: 1200px;*/
	margin: 0 auto;
	height: 100%;
}

.header_new__menu {
	display: block;
	margin: 20px auto;
}

.header_new__list {
	display: block;
	list-style: none;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
	line-height: 2;
}

.header_new__item {
	display: block;
	margin: 0 1%;
	height: 29px;
}

.item--mod4 {
	margin: 0 70px 0 1%;
}

.item--mod5 {
	display: block;
	position: relative;
}

.item--mod6 {
	margin: 0 1% 0 85px;
}

.header_new__item__img {
	display: block;
	position: absolute;
	width: 72px;
	height: auto;
	top: -16px;
	right: -42px;
}

.header_new__logo {
	display: none;
}

.header_new__img {
	display: block;
	width: 72px;
	height: 72px;
	margin: -16px 48%;
}

.header_new__item {
	display: inline-block;
	transition: .5s;
}

.header_new__links {
	display: block;
	position: absolute;
	width: 142px;
	top: 30px;
	right: -45px;
}

.header_new__links a{
	color: #40579a;
	padding: 1px;
	font-size: 24px;
}

.header_new__dropmenu {
	display: none;
	/*display: block;*/
	float: right;
	margin: -37px -28px 0 0;
}

.header_new__dropmenu__link {
	color: #2d2d2d;
}

.fa-bars {
	display: block;
	cursor: pointer;
}

.header_menu_li a {
	color: #2d2d2d;
	text-decoration: none;
	padding: 13px;
}

.header_new__item:hover  {
	color: #e6540b;
	cursor: pointer;
}

.item--mod3 {
	padding: 2px 13px;
	height: 35px;
	text-decoration: none;
	color: #fff;
  background-color: #82263f ;
  border: 2px solid #fff;
	box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #ccc;
	transition: .5s;
}

.item--mod3:hover {
	background-color: #000;
	color: #fff;
}

.header_logo_link {
	margin: 4px 0 0 -36px;
	left: 50%;
	position: absolute;
}

.header_logo_link img {
	width: 72px;
	height: auto;
}
.fa-bars {
	display: block;
}

.header_new__dropdown {
	display: block;   /*  <<---  */
	position: fixed;
	float: right;
	top: 0;
	right: 0;
	width: 0;    /*  <<---  */
	height: 100%;
	background-color: #000;
	color: #fff;
	transition: width .3s ease-out;   /*   <<-----  */
	overflow: hidden;
}

.header_new__dropdown.open {
	width: 280px;
}

.header_new__dropname {
	display: block;
	font-family: 'Old Standard TT', serif;
	font-size: 24px;
	text-align: left;
	margin: 25px 0 0 25px;
	color: #ccc;
	width: auto;
	min-width: 280px;
}

.fa-times {
	display: block;
	float: right;
	position: relative;
	top: -30px;
	right: 15px;
	color: #e6540b;
	cursor: pointer;
}

.header_new__droplist {
	display: block;
	text-transform: uppercase;
	width: 100%;    /*   <<-----  */
	min-width: 280px;    /*   <<-----  */
}

.header_new__dropitem {
	display: block;
	margin: 25px 25px;
}

.header_new__droplink {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	transition: .4s ease-in-out;
}

.header_new__droplink:hover,
.header_new__droplink:active {
	color: #e6540b;
	cursor: pointer;
}

.header_welcome {
	margin: 0 auto;
	width: 100%;
	height: 710px;
}

.header_welcome_info {
	padding-top: 240px;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	height: auto;
	text-align: center;
}

.header_welcome_info h1{
	font-family: 'Old Standard TT', serif;
	color: #ffffcc;
	font-size: 48px;
	line-height: 1.2;
}

.white_text {
	color: #fff;
}

.header_welcome_info h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	margin-top: 20px;
	color: #fff;
}

.header_welcome_number {
	text-decoration: none;
	text-shadow: 2px 2px 1px #000;
	color: #fff;
	transition: .2s;
}

.header_welcome_number:hover {
	text-shadow: -2px -2px 1px #000;

}

hr.header_welcome_line {
	margin-top: 17px;
	color: #d1d1d1;
	width: 76%;
	max-width: 490px;
	border-top: none;
	clear: both;
}

hr.header_welcome_line:after {
	background: none repeat scroll 0% 0% #d1d1d1;
	content: "";
	width: 9px;
	height: 9px;
	left: 50%;
	margin: -4px auto auto -4px;
	position: absolute;
	transform: rotate(-45deg);
}


.header_welcome_discover {
	margin: 20px auto;
	padding: 20px;
	width: 231px;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	cursor: pointer;
	transition: .5s;
}

.header_welcome_discover a {
	text-decoration: none;
	color: #000;
	transition: .5s;
}

.header_welcome_discover:hover {
	background-color: #000;
}

.header_welcome_discover:hover a {
	color: #fff;
}

.welcome_nav {
	display: inline-block;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	margin: 25px 0 50px;
}

.welcome_nav_li {
	display: inline-block;
	margin: 0 25px;
	cursor: pointer;
}

.welcome_nav_li:hover a,
.welcome_nav_li:hover p {
	opacity: 0.6;
	transition: .5s;
}

.welcome_nav a {
	color: #fff;
	font-size: 330%;
}

.welcome_nav p {
	margin-top: 18px;
}

.steak_house {
	display: block;
	background-size: cover;
	height: 1800px;
	background-image: url("../img/parallax_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 60%;
}

.steak_house_section {
	background-color: #fff;
	width: 100%;
	height: 530px;
}

.steak_house_block {
	margin: 0 auto;
	padding-top: 140px;
	max-width: 1200px;
	text-align: center;
}

hr.steak_house_block_line,
hr.steak_house_reservation_line {
	display: inline-block;
	width: 13%;
	border-top: none;
	color: #d5d5d5;
	clear: both;
}

.steak_house_block h1,
.steak_house_reservation h1 {
	display: inline-block;
	padding: 13px;
	font-family: 'Old Standard TT', serif;
	font-size: 31px;
	letter-spacing: -2px;
}

.steak_house_block h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #a89c72;
}

.steak_house_block p {
	margin: 0 auto;
	padding-top: 55px;
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	max-width: 850px;
	color: #444;
	line-height: 2;
}

.steak_house_form {
	font-family: 'Open Sans', sans-serif;
}

.steak_house_reservation {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 80px;
	color: #fff;
	text-align: center;
}

.steak_house_reservation h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	padding-bottom: 100px;
}

h1.steak_house_reservation_colortext {
	display: block;
	margin: 0 auto;
	width: 740px;
	text-shadow:  2px 1px 1px rgba(0, 0, 0, 0.66);
	font-size: 35px;
	color: #da8857;
	letter-spacing: 1px;
}

.steak_house_reservation h3 {
	color: #ffae80;
	padding: 0 0 15px 0;
}

.steak_house_reservation_form_first {
	margin: 0 auto;
	width: 720px;
	height: 155px;
	text-align: left;
	font-weight: bolder;
}
.steak_house_reservation_form_data {
	margin: 30px 0;
}

.steak_house_reservation_form_data input {
	width: 430px;
	height: 34px;
	margin-left: 210px;
	padding: 0 10px;
	font-size: 14px;
	border-radius: 4px;
}

.steak_house_reservation_form_hour,
.steak_house_reservation_form_minute,
.steak_house_reservation_form_am {
	display: inline-block;
}

.steak_house_reservation_form_hour,
.steak_house_reservation_form_minute {
	margin: 0 35px 0 0;
}

.steak_house_reservation_form_am {
	margin: 0 0 0 0;
}

.select_style {          /* <----- ADD CHANGE */
	margin: 10px 0 0 0;          /* <----- ADD CHANGE */
	width: 210px;                /* <----- ADD CHANGE */
	text-align: center;           /* <----- ADD CHANGE */
}

.steak_house_reservation_form_hour select,
.steak_house_reservation_form_minute select,
.steak_house_reservation_form_am select {
	margin-top: 10px;
	width: 210px;
	height: 34px;
	border-radius: 4px;
	font-size: 14px;
	padding: 0 0 0 85px;
}

.steak_house_reservation_form_second {
	margin: 0 auto;
	width: 720px;
	height: 200px;
	text-align: left;
	font-weight: bolder;
}

.steak_house_reservation_form_second hr.header_welcome_line {
	width: 90%;
}



.steak_house_reservation_form_second_block {
	margin-top: 30px;
}

.steak_house_reservation_form_second h2,
.steak_house_reservation_form_second span {
	padding: 0 0 15px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #ffae80;
	letter-spacing: -0.1px;
	text-align: center;
	line-height: 1.9;
}

.steak_house_reservation_form_second_party {
	display: block;
	margin: 30px 0 0 0;
	padding: 0;
}

.steak_house_reservation_form_second_party label {
	float: right;
}

.steak_house_reservation_form_second_field {
	width: 220px;
	height: 34px;
	margin-left: 205px;
	padding: 0 0 0 10px;
	font-size: 14px;
	border-radius: 4px;
	border: none;
}
.steak_house_reservation_form_second_party_text {
	margin-left: 255px;
	font-style: italic;
 }

.steak_house_reservation_form_third {
	display: block;
 	margin: 0 auto;
 	width: 720px;
 	height: 60px;
 	text-align: left;
 	font-weight: bolder;
 }

.steak_house_reservation_form_third_block {
	margin: 30px 0;
}

.select_lunch {          /* <----- ADD CHANGE */
	display: inline-block;      /* <----- ADD CHANGE */
	width: 460px;          /* <----- ADD CHANGE */
	margin: 0 0 0 115px;          /* <----- ADD CHANGE */
	text-align: center;          /* <----- ADD CHANGE */
}


.steak_house_reservation_form_third_block select {
	margin-left: 129px;
	padding: 0 0 0 205px;
	width: 460px;
	height: 34px;
	border-radius: 4px;
	font-size: 14px;
}

.steak_house_reservation_form_button {
	display: block;
	margin: 0 auto;
 	width: 720px;
 	height: 40px;
 	text-align: center;
}

.steak_house_reservation_form_button input {
	display: block;
	margin-top: 30px;
	padding: 15px 50px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #d27244;
	color: #fff;
	font-weight: bolder;
	border: none;
	transition: .5s;
	cursor: pointer;
}
.steak_house_reservation_form_button:hover input {
	background-color: #000;
}

.steak_house_reservation_form_by {
	display: block;
	margin: 60px auto;
	width: 720px;
	text-align: center;
	color: #aeaeae;
	font-size: 13px;
	font-style: italic;
}

.steak_house_reservation_form_by a {
	text-decoration: none;
	color: #d27244;
	transition: .5s;
}

.steak_house_reservation_form_by a:hover {
	color: #000;
}

.reclame {
	display: block;
	background-size: cover;
	height: auto;
	background-image: url("../img/steak_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 50%;
}

.reclame_working_hours {
	display: block;
	position: relative;
	width: 100%;
	height: 550px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}

.reclame_working_hours_info {
	display: block;
	margin: 0 auto;
	max-width: 1200px;
}

.reclame_working_hours_title {
	margin: 200px auto 10px auto;;
}

.reclame_working_hours_line {
	display: inline-block;
	margin-bottom: 25px;
	width: 55px;
	color: #e9e9e9;
	border-top: none;
}

.reclame_working_hours_title img {
	display: inline-block;
	border-radius: 50%;
}

.reclame_working_hours_text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.3px;
}

.reclame_working_hours_left_pic {
	display: block;
	float: left;
	position: absolute;
	z-index: 1;
	margin: 0 0 0 -225px;
}

.reclame_working_hours_right_pic {
	display: block;
	overflow: hidden;
	float: right;
	width: 580px;
	margin: -265px -127px 0 0;
}

.reclame_info {
	display: block;
	width: 100%;
	height: 100%;
}

.reclame_info_about {
	display: block;
	margin: 150px auto;
	max-width: 1200px;
	background-color: #fff;
}

.reclame_info_about h1 {
	display: inline-block;
	font-family: 'Old Standard TT';
	font-size: 34px;
	letter-spacing: -3px;
}

.reclame_info_about_experience {
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
}

.reclame_info_about_experience_pic {
	display: inline-block;
	float: left;
	width: 35%;
	overflow: hidden;
}

.reclame_info_about_experience_text,
.reclame_info_about_bar_text,
.reclame_info_about_special_text {
	display: inline-block;
	margin: 50px auto;
	text-align: center;
	width: 65%;
}

.reclame_info_about_experience_line {
	display: inline-block;
	width: 160px;
	color: #d5d5d5;
	border-top: none;
}

.reclame_info_about_experience_text h1{
	background-color: #ff8c00;
	color: #fff;
	text-transform: uppercase;
}

.reclame_info_about p {
	font-family: 'Old Standard TT';
	margin: 35px 125px;
	color: #aeaeae;
	font-size: 18px;
	line-height: 1.9;
}

.reclame_info_about_bar {
	margin: 20px 0;
	width: 100%;
	clear: both;
	overflow: hidden;
}


.reclame_info_about_bar_pic {
	display: inline-block;
	float: right;
	width: 35%;
}

.reclame_info_about_special {
	padding-bottom: 50px;
	width: 100%;
	clear: both;
	overflow: hidden;
}

.reclame_info_about_special_pic {
	display: inline-block;
	float: left;
	width: 35%;
}

.reclame_info_about_special_pic img {
	position: relative;
	width: 100%;
}

.reclame_info_about_special_pic_call {
	position: absolute;
	margin: -120px 0 0 -42px;
	font-family: 'Old Standard TT';
	background-color: #000;
	float: left;
	width: 35%;
	max-width: 462px;
	min-width: 462px;
	text-align: center;
}

.reclame_info_about_special_pic_call p{
	color: #fdca19;
	line-height: 1;
	margin: 0;
	padding: 19px 64px;
}

.reclame_info_about_special_text h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #a89c72;
}

.reclame_info_about_special_price {
	display: inline-block;
	width: 65%;
}

.reclame_info_about_special_price_list {
	margin: 0 auto;
	width: 75%;
}

.reclame_info_about_special_price_li {
	width: 50%;
	height: auto;
	float: left;
	overflow: hidden;
	padding-top: 10px;
}

.reclame_price_line {
	margin-top: 17px;
	color: #d1d1d1;
	width: 200px;
	border-top: none;
	clear: both;
}

.reclame_price_line::after {
	background: none repeat scroll 0% 0% #d1d1d1;
  content: "";
  width: 9px;
  height: 9px;
  margin: -4px auto auto -4px;
  position: absolute;
  transform: rotate(-45deg);
}

.reclame_info_about_special_price_block {
	width: 100%;
	margin: 0 auto;
	font-family: 'Old Standard TT';
	text-align: center;
	line-height: 1.3;
}

.reclame_info_about_special_price_block h4 {
	font-size: 24px;
	width: 100%;
	margin: 0 auto;
}

.reclame_info_about_special_price_block span{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #999;
	margin-bottom: 10px;
}

.menu {
	display: block;
	background-color: #faf8ea;
	width: 100%;
	height: 1300px;
	overflow: hidden;
}

.menu_block {
	display: block;
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.menu_block_title {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 120px;
}

.menu_block_title h2 {
	display: inline-block;
	font-family: 'Old Standard TT';
	font-size: 32px;
}

.menu_block_title h3 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #a89c72;
}

.menu_block_proposition {
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
}

.menu_block_proposition_left,
.menu_block_proposition_center,
.menu_block_proposition_right {
	display: block;
	float: left;
	width: 33.33%;
	text-align: center;
	margin-top: 120px;
}

.menu_block_proposition_left h1,
.menu_block_proposition_center h1,
.menu_block_proposition_right h1 {
	color: #d27244;
	font-family: 'Old Standard TT';
	font-size: 34px;
	margin: 0 0 40px 0;
}

.menu_block_proposition_left img,
.menu_block_proposition_center img,
.menu_block_proposition_right img {
	box-shadow: 0 0 1px 1px #000;
}

.menu_block_proposition_left p,
.menu_block_proposition_center p,
.menu_block_proposition_right p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.9;
	margin: 40px 35px;
}

.menu_block_proposition_center span {
	color: #ff8c00;
}

.menu_block_proposition_left_button,
.menu_block_proposition_center_button,
.menu_block_proposition_right_button {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 40px;
}

.menu_block_proposition_left_button {
	margin-top: 190px;
}

.menu_block_proposition_right_button {
	margin-top: 70px;
}

.menu_block_proposition_left_button a,
.menu_block_proposition_center_button a,
.menu_block_proposition_right_button a {
	background-color:  #d27244;
	display: inline-block;
	width: 200px;
	height: 33px;
	padding-top: 15px;
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

.menu_block_proposition_left_button a:hover,
.menu_block_proposition_center_button a:hover,
.menu_block_proposition_right_button a:hover {
	background-color: #000;
}

.menu_block_proposition_line {
	display: inline-block;
	margin: 0 10px;
	width: 15px;
	border-top: none;
	color: #cbc4a8;
}

.menu_block_proposition_pic {
	display: block;
	position: absolute;
	width: 190px;
  margin-top: -175px;
  left: 85.9%;
  z-index: 0;
}

.send {
	display: block;
	width: 100%;
}

.send_block {
	display: block;
	margin: 0 auto 50px;
	width: 100%;
	max-width: 1200px;
}

.send_block_ul {
	display: block;
	width: 70%;
	max-width: 850px;
	margin: 0 auto;
	text-align: center;
}

.send_block_menu {
	display: block;
	width: 100%;
	height: 30px;
	background-color: #d27244;
	color: #fff;
	margin: 20px 0;
	padding-top: 20px ;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	transition: background-color .5s;
	cursor: pointer;
}

.send_block_menu:hover {
	background-color: #000;
}

.location {
	display: block;
	width: 100%;
	height: 710px;
	overflow: hidden;
}

.location_map {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.location_map_pic {
	display: block;
	position: absolute;
	margin: 0 auto;
	/*-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;*/
}

.location_block {
	display: block;
	position: relative;
	width: 100%;
	height: 710px;
	background: rgba(210,114,68,0.8);
	color: #fff;
}

.location_block__container {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}

.location_block_title {
	display: block;
	padding: 80px 0 0 0;
	font-family: 'Old Standard TT',sans-serif;
	font-size: 32px;
	text-align: center;
	color: #fff;
}

.location_block_line {
	display: inline-block;
	width: 160px;
	margin: 9px auto;
	color: #d5d5d5;
	border-top: none;
}

.location_block_name {
	display: inline-block;
	letter-spacing: -2px;
}

.location_block_name_under {
	display: block;
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	padding-bottom: 100px;
}

.location_block_left {
	display: block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	width: 45%;
	padding: 0 0 0 30px;
}

.location_block_left_form,
.location_block_right_info h3,
.location_block_right_address h3 {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

.location_block_contact {
	display: block;
	width: 90%;
	height: 45px;
	margin: 15px 0;
	text-align: left;
}

.location_block_contact label {
	display: block;
	float: left;
	width: 30%;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 4;
}

.location_block_contact input {
	width: 62%;
	height: 45px;
	font-size: 15px;
	padding: 0 15px 0 15px;
}

textarea {
	overflow: auto;
	resize: none;
	width: 62%;
	height: 25px;
	font-size: 15px;
	padding: 10px 15px 10px 15px;
	white-space: pre-wrap;
  word-wrap: break-word;
}

.location_block_contact_btn {
	display: block;
	float: right;
	margin: 20px 0 0 0;
	width: 125px;
	height: 50px;
	border: 2px solid #fff;
	text-align: center;
	text-transform: uppercase;
	line-height: 3;
	transition: .5s;
}

.location_block_contact_btn:hover {
	color: #000;
	border: 2px solid #000;
	cursor: pointer;
}


.location_block_right {
	display: block;
	float: right;
	width: 45%;
}

.location_block_right_address {
	display: block;
	position: relative;
}

.location_block_right_info p,
.location_block_right_address p {
	display: block;
	width: 100%;
	font-size: 14px;
	margin: 0 0 80px 0;
	line-height: 1.5;
}

.location_block_right_info p {
	width: 90%;
}

.location_block_right_address p {
	letter-spacing: 0.5px;
}

.location_block_right_address--bold {
	font-weight: 700;
}

.location_block_right_link {
	display: block;
	position: absolute;
	top: 0;
	right: 15%;
	width: 130px;
	height: 130px;
	color: #fff;
	border: 2px solid #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5;
	transition: .5s;
}

.location_block_right_link:hover {
	color: #000;
	border: 2px solid #000;
}

.location_block_right_link i {
	font-size: 80px;
}

.footer {
	display: block;
	width: 100%;
	height: 200px;
	text-align: center;
}

.footer__container {
	display: block;
	margin: 0 auto;
	max-width: 1200px;
}

.footer_menu {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	list-style: none;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	line-height: 2;
}

.footer_menu_li {
	display: inline-block;
	margin-right: 20px;

}

.footer_menu_li a {
	color: #2d2d2d;
	text-decoration: none;
	padding: 13px;
	transition: .5s;
}

.footer_menu_li:hover a {
	color: #e6540b;
}

.footer_line {
	display: block;
	margin: 0 auto;
	border-top: 1px solid #d1d1d1;
	width: 100px;
}

.footer_copyright {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 35px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

 @media screen and (max-width: 1199px) and (min-width: 961px) {

	 .header_new__container {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .header_social_link {
		 display: none;
	 }

	 .header_welcome {
	 	height: auto;     /* <-- CHANGE */
	 }

	 .header_welcome_info {
	 	padding-top: 140px;    /* <-- CHANGE */
		max-width: 1199px;     /* <-- CHANGE */
	 	height: auto;    /* <-- CHANGE */
	 }

	 .welcome_nav {
	   margin: 0 auto 30px;     /* <-- CHANGE */
	 }

	 .steak_house_block {
	 	padding-top: 50px;     /* <-- CHANGE */
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .steak_house_reservation {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .reclame_working_hours {
	 	height: 430px;      /* <-- CHANGE */
	 }

	 .reclame_working_hours_info {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .reclame_working_hours_title {
	 	margin: 100px auto 10px auto;    /* <-- CHANGE */
	 }

	 .reclame_working_hours_left_pic {
	 	margin-top: -90px;    /* <-- CHANGE */
	 }

	 .reclame_working_hours_right_pic {
    margin: -285px -210px 0 0
		}

	 .reclame_info_about {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .reclame_info_about_special_pic_call {
	 	margin: -120px 0 0 0;
		min-width: 0px;
	 }

	 .reclame_info_about_special_pic_call p{
	 	padding: 19px 17%;
	 }

	 .menu {
		 height: auto;
	 }

	 .menu_block {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .menu_block_title {
	 	padding-top: 80px;     /* <-- CHANGE */
	 }

	 .menu_block_proposition_left,
	 .menu_block_proposition_center,
	 .menu_block_proposition_right {
	 	margin-top: 80px;    /* <-- CHANGE */
	 }

	 .menu_block_proposition_left img,
	 .menu_block_proposition_center img,
	 .menu_block_proposition_right img {
	   width: 85%;      /* <-- CHANGE */
	 }

	 .menu_block_proposition_pic {
	   margin-top: -104px;    /* <-- CHANGE */
	 }

	 .send_block {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .location_block__container {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

	 .footer__container {
	 	max-width: 1199px;     /* <-- CHANGE */
	 }

 }

@media screen and (max-width: 1110px) and (min-width: 1016px) {

	.reclame_info_about_special_pic_call p{
		padding: 19px 14%;
	}
}

@media screen and (max-width: 1015px) and (min-width: 961px) {

	.reclame_info_about_special_pic_call p{
		padding: 19px 8%;
	}
}
@media screen and (max-width: 894px) and (min-width: 961px) {

	.reclame_info_about_special_pic_call p{
		padding: 19px 8%;
	}
}

@media screen and (max-width: 1050px) and (min-width: 961px) {
	 .location_block_contact input {
		 width: 60%;
	 }

	 .reclame_working_hours_left_pic {
		 display: none;
	 }

	 .reclame_working_hours_right_pic {
		margin: -285px -260px 0 0
	 }

}

@media screen and (max-width: 988px) and (min-width: 961px) {

	 .reclame_info_about_special_pic_call p {
		 padding: 16px 25px;
	 }

	 textarea {
		 width: 60%;
	 }

 }

@media screen and (max-width: 984px) and (min-width: 961px) {
	 .line--mod {
		 margin-top: 47px;
	 }
	 .price_li--mod {
		 margin: -98px 0 0 0;
	 }
}

@media screen and (max-width: 1110px) and (min-width: 961px) {

	 .header_new__item {
		 display: none;
	 }

	 .header_new__logo {
		 display: block;
	 }

	 .header_new__links {
			left: 30px;
	 }

	 .header_new__dropmenu {
		 display: block;
	 }

}

@media screen and (max-width: 960px) and (min-width: 769px) {

	.header_new__container {
		float: none;
		max-width: 960px;
	}

	.header_welcome_info {
		padding-top: 165px;
	}


	.header_new__item {
		display: none;
	}

	.header_new__logo {
		display: block;
	}

	.header_new__img {
		margin: -16px auto;
	}

	.header_new__links {
		 left: 0;
	}

	.header_new__dropmenu {
		display: block;
		margin: -37px 0 0 0;
	}

	.header_welcome {
    height: auto;
	}

	.welcome_nav {
		margin: 25px 0 60px;
	}


	.welcome_nav a {
    font-size: 200%;
	}

	.steak_house_block {
		margin: 0 auto;
		padding-top: 40px;     /* <-- CHANGE */
		max-width: 1199px;     /* <-- CHANGE */
		text-align: center;
	}

	.steak_house_reservation {
    margin: 0 auto;
    max-width: 960px;
	}

	.steak_house_reservation h1 {
    font-size: 40px;
		padding: 13px 0;
	}

	h1.steak_house_reservation_colortext {
    width: 550px;
	}

	.steak_house_reservation h3 {
    color: #ffae80;
    padding: 15px 170px;
	}

	.steak_house_reservation_form_first {
    width: 65%;
		height: auto;
	}

	.steak_house_reservation_form_data {
		line-height: 2.5;
	}

	.steak_house_reservation_form_data input {
    width: 60%;
		margin-left: 25%;
	}

	.steak_house_reservation_form_hour,
	.steak_house_reservation_form_minute,
	.steak_house_reservation_form_am {
    width: 32%;
	}

	.steak_house_reservation_form_hour,
	.steak_house_reservation_form_minute {
    margin: 0;
	}

	.select_style,           /* <----- ADD CHANGE */
	.steak_house_reservation_form_hour select,
	.steak_house_reservation_form_minute select,
	.steak_house_reservation_form_am select {
    width: 92%;
	}

	.steak_house_reservation_form_hour select,
	.steak_house_reservation_form_minute select,
	.steak_house_reservation_form_am select {
		padding: 0 0 0 40%;
	}

	.steak_house_reservation_form_second {
    height: auto;
	}

	.steak_house_reservation_form_second h2 {
		padding: 0 125px 15px 125px;
	}

	.steak_house_reservation_form_second_party {
		width: 65%;
	  margin: 0 auto;
	  padding: 30px 0 0 0;
	}

	.steak_house_reservation_form_second_field {
		width: 50%;
    height: 34px;
    margin-left: 0;
		float: right;
	}

	.steak_house_reservation_form_third_block {
		margin: 30px auto 0;
		width: 65%;
	}

		.select_lunch {         /* <----- ADD CHANGE */
			margin: 0 0 0 40px;      /* <----- ADD CHANGE */
			width: 60%;      /* <----- ADD CHANGE */
		}

	.steak_house_reservation_form_third_block select {
    margin-left: 0;
    padding: 0 0 0 25%;
    width: 60%;
    float: right;
	}
	.steak_house_reservation_form_button input {
    margin: 30px auto;
    width: 65%;
	}
	.reclame_working_hours_right_pic {
	  margin: -265px -265px 0 0;
	}

	.reclame_info_about p {
		margin: 20px 9%;
	}

	.reclame_info_about_experience_line {
		width: 100px;
	}

	.reclame_info_about_experience_text,
	.reclame_info_about_bar_text,
	.reclame_info_about_special_text {
		margin: 50px auto 20px;
	}

	.reclame_info_about_bar {
		margin: 20px 0 0;
	}

	.reclame_info_about_special_pic_call {
		margin: -110px 0 0 0;
		min-width: 0px;
	}

	.reclame_info_about_special_pic_call p{
		padding: 0;
		font-size: 15px;
	}

	.reclame_info_about_special_price_block h4 {
		font-size: 20px;
	}

	.reclame_info_about_special_price_block span{
		font-size: 16px;
	}

	.reclame_info_about_special_price_list {
		width: 85%;
	}

	.menu {
		height: auto;
	}

	.menu_block_proposition_left h1,
	.menu_block_proposition_center h1,
	.menu_block_proposition_right h1 {
		font-size: 30px;
	}

	.menu_block_proposition_left img,
	.menu_block_proposition_center img,
	.menu_block_proposition_right img {
		width: 90%;
		margin: 0 auto;
	}

	.menu_block_proposition_left p,
	.menu_block_proposition_center p,
	.menu_block_proposition_right p {
		margin: 20px 5%;
	}

	.menu_block_proposition_left_button {
		margin: 230px 0 70px;
	}

	.menu_block_proposition_center_button {
		margin: 0 0 70px;
	}

	.menu_block_proposition_right_button {
		margin: 48px 0 70px;
	}

	.location_block_left {
		width: 50%;
	}

	.location_block_contact {
		width: 95%;
	}

	.location_block_contact input {
		width: 60%;
	}

	textarea {
		width: 60%;
	}

	.location_block_contact_btn {
		margin: 20px 8% 0 0;
	}

	.location_block_right_info p {
		margin: 0 0 50px 0;
	}

	.footer__container {
		max-width: 960px;     /* <-- CHANGE */
	}

	.footer_menu {
		padding: 50px 0 30px;
	}

	.footer_menu_li {
    margin: 0 0 20px 2%;
	}

}

@media screen and (max-width: 844px) and (min-width: 769px) {

	.menu_block_proposition_line {
		display: none;
	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {
	.header_new__container {
		float: none;
		max-width: 768px;

	}

	.header_new__menu {
		display: none;
	}

	.header_new__logo {
		display: block;
	}

	.header_new__img {
		margin: 4px auto;
	}

	.header_new__links {
		left: 0;
	}

	.header_new__dropmenu {
		display: block;
		margin: -55px 0 0 0;
	}
	.header_welcome {
		height: auto;
	}

	.header_welcome_info {
		padding-top: 110px;
		max-width: 768px;
	}

	.header_welcome_info h2{
		font-size: 20px;
	}

	.header_welcome_discover {
		padding: 12px 0;
	}

	.header_welcome_discover a {
		padding: 5px 15px;
		font-size: 14px;
	}

	.welcome_nav {
		font-size: 13px;
		margin: 0px 0 60px;
	}

	.welcome_nav_li {
		margin: 25px 25px 0;
	}

	.welcome_nav a {
		font-size: 22px;
	}

	.welcome_nav p {
		margin-top: 11px;
	}

	.steak_house {
		height: auto;
	}

	.steak_house_section {
		height: auto;
	}

	.steak_house_block {
		padding-top: 40px;
		max-width: 768px;
	}

	.steak_house_block h1,
	.steak_house_reservation h1 {
		font-size: 38px;
	}

	.steak_house_block h2 {
		font-size: 20px;
	}

	.steak_house_block p {
		padding: 40px 0 0 0;
		width: 90%;
	}

	.steak_house_reservation {
		max-width: 768px;
	}

	.steak_house_reservation h2 {
		padding: 0 0 20px 0;
	}

	h1.steak_house_reservation_colortext {
		font-size: 35px;
		width: 80%;
	}

	.steak_house_reservation h3 {
		margin: 0 auto;
		width: 83%;
		line-height: 1.9;
	}

	.steak_house_reservation_form_first {
		width: 80%;
		height: auto;
	}

	.steak_house_reservation_form_data input {
		width: 95%;
		margin: 10px 0 0 0;
	}

	.steak_house_reservation_form_hour,
	.steak_house_reservation_form_minute,
	.steak_house_reservation_form_am {
		display: block;
		width: 100%;
		height: auto;
	}

	.select_style{      /* <----- ADD CHANGE */
		margin: 10px 0 25px 0;      /* <----- ADD CHANGE */
		width: 100%;      /* <----- ADD CHANGE */
		max-width: 607px;      /* <----- ADD CHANGE */
	}

	.steak_house_reservation_form_hour select,
	.steak_house_reservation_form_minute select,
	.steak_house_reservation_form_am select {
		margin: 10px 0 25px 0;
		width: 100%;
		max-width: 607px;
		padding: 0 0 0 48%;
	}

	.steak_house_reservation_form_second {
		width: 83%;
		height: auto;
	}

	.steak_house_reservation_form_second h2 {
		width: 95%;
		margin: 0 auto;
	}

	.steak_house_reservation_form_second_party {
		margin: 30px auto 0;
		width: 95%;
	}


	.steak_house_reservation_form_second_party label {
		float: none;
	}

	.steak_house_reservation_form_second_field {
		display: block;
		margin: 10px 0 0 0;
	}
	.steak_house_reservation_form_second_party_text {
		margin: 0;
  }

	.steak_house_reservation_form_third {
	 	width: 83%;
	 	height: auto;
	 }

	.steak_house_reservation_form_third_block {
		margin: 30px auto;
		width: 95%;
	}

	.select_lunch {      /* <----- ADD CHANGE */
		margin: 10px 0 0 0;
		width: 100%;
	}

	.steak_house_reservation_form_third_block select {
		margin: 10px 0 0 0;
		padding: 0 0 0 46%;
		width: 100%;
	}

	.steak_house_reservation_form_button {
	 	width: 83%;
	}

	.steak_house_reservation_form_by {
		display: block;
		margin: 50px auto 0;
		width: 83%;
		height: 80px;
	}

	.reclame_working_hours {
		height: 370px;
	}

	.reclame_working_hours_info {
		max-width: 768px;
	}

	.reclame_working_hours_title {
		margin: 100px auto 10px auto;;

	}

	.reclame_working_hours_left_pic {
		display: none;
	}

	.reclame_working_hours_right_pic {
		display: none;
	}

	.reclame_info_about {
		width: 95%;
		max-width: 730px;
	}

	.reclame_info_about h1 {
		font-size: 38px;
	}

	.reclame_info_about_experience_pic {
		display: none;
	}

	.reclame_info_about_experience_text,
	.reclame_info_about_bar_text,
	.reclame_info_about_special_text {
		display: block;
		width: 95%;
	}

	.reclame_info_about_experience_line {
		width: 20%;
	}

	.reclame_info_about_experience_text h1{
		background-color: #ff8c00;
		color: #fff;
		text-transform: uppercase;
	}

	.reclame_info_about p {
		font-family: 'Open Sans';
		margin: 35px 4.3%;
		font-size: 16px;
	}

	.reclame_info_about_bar {
		margin: 0;
	}


	.reclame_info_about_bar_pic {
		display: none;
	}

	.reclame_info_about_special {
		padding-bottom: 50px;
		width: 100%;
		clear: both;
		overflow: hidden;
	}

	.reclame_info_about_special_pic {
		display: none;
	}

	.reclame_info_about_special_text h2 {
		font-size: 20px;
	}

	.reclame_info_about_special_price {
		width: 100%;
	}

	.reclame_info_about_special_price_list {
		width: 90%;
	}

	.reclame_info_about_special_price_block h4 {
		font-size: 18px;
	}

	.reclame_info_about_special_price_block span{
		font-size: 15px;
	}

	.menu {
		height: auto;
	}

	.menu_block {
		max-width: 768px;
	}

	.menu_block_title {
		padding-top: 100px;
	}

	.menu_block_title h2 {
		font-size: 38px;
	}

	.menu_block_title h3 {
		font-size: 20px;
	}

	.menu_block_proposition_left,
	.menu_block_proposition_center,
	.menu_block_proposition_right {
		margin-top: 70px;
	}

	.menu_block_proposition_left h1,
	.menu_block_proposition_center h1,
	.menu_block_proposition_right h1 {
		font-size: 16px;
	}

	.menu_block_proposition_left img,
	.menu_block_proposition_center img,
	.menu_block_proposition_right img {
		width: 90%;
		margin: 0 auto;
	}

	.menu_block_proposition_left p,
	.menu_block_proposition_center p,
	.menu_block_proposition_right p {
		font-size: 15px;
		margin: 25px 14px;
	}

	.menu_block_proposition_left_button {
		margin-top: 250px;
	}

	.menu_block_proposition_right_button {
		margin-top: 53px;
	}

	.menu_block_proposition_line {
		display: none;
	}

	.menu_block_proposition_pic {
		display: none;
	}

	.send_block {
		max-width: 768px;
	}

	.send_block_ul {
		width: 70%;
		min-width: 310px;
	}

	.location {
		height: 680px;
	}

	.location_block {
		height: 680px;
	}

	.location_block__container {
		max-width: 768px;
	}

	.location_block_title {
		font-size: 38px;
	}

	.location_block_name_under {
		font-size: 20px;
		padding-bottom: 45px;
	}

	.location_block_left {
		width: 48%;
		padding: 0 0 0 2%;
	}

	.location_block_left_form,
	.location_block_right_info h3,
	.location_block_right_address h3 {
    font-size: 17px;
	}

	.location_block_contact {
		width: 100%;

	}

	.location_block_contact label {
		width: 29%;
		font-size: 12px;
	}

	.location_block_contact input {
		width: 59%;
		font-size: 13px;
	}

	textarea {
		width: 59%;
		font-size: 13px;
	}

	.location_block_contact_btn {
		margin: 20px 7px 0 0;
	}

	.location_block_right {
		width: 48%;
	}

	.location_block_right_info p {
		width: 95%;
	}

	.location_block_right_address p {
		width: 60%;
	}

	.location_block_right_link {
		width: 105px;
		right: 6%;
	}

	.footer {
		height: auto;
	}

	.footer__container {
		max-width: 768px;
	}

	.footer_menu {
		line-height: 2.2;
	}

}

@media screen and (max-width: 710px) {
	.location_message label {
		line-height: 2.2;
	}
}

 @media screen and (max-width: 620px) {

	 .header_welcome_info h1 {
		 font-size: 30px;
	 }

	 .header_welcome_info h2 {
		 font-size: 16px;
	 }

	 hr.steak_house_block_line {
		 display: none;
	 }

	 .steak_house_block p {
		 font-size: 14px;
	 }

	 h1.steak_house_reservation_colortext {
		 font-size: 32px;
		 width: 85%;
	 }

	 .reclame_info_about_experience_line {
			display: none;
	 }

	 .reclame_info_about p {
		 font-size: 14px;
	 }

	 .reclame_info_about_bar {
		 margin: 0;
	 }


	 .reclame_info_about_bar_pic {
		 display: none;
	 }

	 .reclame_info_about_special {
		 padding-bottom: 50px;
		 width: 100%;
		 clear: both;
		 overflow: hidden;
	 }

	 .reclame_info_about_special_pic {
		 display: none;
	 }

	 .reclame_info_about_special_text h2 {
		 font-size: 20px;
	 }

	 .reclame_info_about_special_price {
		 width: 100%;
	 }

	 .reclame_info_about_special_price_list {
		 width: 90%;
	 }

	 .reclame_info_about_special_price_block h4 {
		 font-size: 18px;
	 }

	 .reclame_info_about_special_price_block span{
		 font-size: 15px;
	 }

	 .reclame_price_line {
	 	width: 170px;
		}

	 .menu_block_proposition_left,
	 .menu_block_proposition_center,
	 .menu_block_proposition_right {
	 	float: none;
	 	width: 312px;
	 	margin: 70px auto 0;
	 }

	 .menu_block_proposition_left_button,
	 .menu_block_proposition_center_button,
	 .menu_block_proposition_right_button {
	 	font-family: 'Open Sans', sans-serif;
	 	font-size: 14px;
	 	font-weight: bold;
	 	text-align: center;
	 	margin: 0 0 40px;
	 }

	 .menu_block_proposition_left_button,
	 .menu_block_proposition_right_button {
	 	margin-top: 0px;
	 }


	 .location {
	 	height: 1000px;
	 }

	 .location_map_pic {
		 height: 1000px;
	 }

	 .location_block {
	 	height: 1000px;
	 }

	 .location_block_line {
	 	display: none;
	 }

	 .location_block_left {
	 	width: 100%;
	 }

	 .location_block_left_form,
	 .location_block_right_info h3,
	 .location_block_right_address h3 {
	 	font-size: 18px;
	 }

	 .location_block_contact {
	 	width: 97%;
	 }

	 .location_block_contact label {
	 	width: 29%;
	 }

	 .location_block_contact input {
	 	width: 62%;
	 }

	 textarea {
	 	width: 62%;
	 }

	 .location_block_contact_btn {
	 	margin: 12px 6% 0 0;
		width: 115px;
		height: 40px;
		font-size: 14px;
	 }

	 .location_block_right {
	 	float: left;
	 	width: 100%;
		padding: 30px 0 0 2%;
	 }

	 .location_block_right_info p,
	 .location_block_right_address p {
	 	margin: 0 0 50px 0;
	 }

	 .location_block_right_link {
	 	width: 130px;
	 	height: 130px;
		font-size: 14px;
	 }

	 .location_block_right_link i {
	 	font-size: 70px;
		padding: 10px 0 0 0;
	 }


}

@media screen and (max-width: 440px) {

	.reclame_info_about_special_price_block {
    width: 135px;
	}

	.reclame_info_about_special_price_li {
		height: 90px;
	}

	.reclame_info_about_special_price_block h4{
    width: 75%;
	}

	.reclame_price_line {
    width: 120px;
	}

	.location_block_contact input {
		width: 60%;
	}

	textarea {
		width: 60%;
	}

}

@media screen and (max-width: 400px) {

	.header_new__links a{
		font-size: 22px;
	}

}

@media screen and (max-width: 380px) {

	.header_new__links {
		display: none;
	}

}
