body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.wrapper {
	display: block;
	width: 100%;
	height: 2000px;
	margin: 0 auto;
}

header {
	display: block;
	background-size: cover;
	height: 750px;
	background-image: url("../img/header_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header_fix {
	display: block;
	/*display: none;*/
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #fff;
	/*border-bottom: 1px solid #444;*/
	box-sizing: border-box;
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
	z-index: 1000;
}

.header_menu_left,
.header_menu_right {
	margin-top: 35px;
	list-style: none;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
}
.header_menu_left {
	margin-left: 180px;
}

.header_menu_right {
	margin-left: 135px;
}

.header_menu_li {
	display: inline-block;
	margin-right: 20px;

}

.header_menu_li a {
	color: #2d2d2d;
	text-decoration: none;
	padding: 13px;
}

.header_menu_li:hover a {
	color: #e6540b;
	transition: .5s;
}

.header_menu_li-active {
  display: inline-block;
}

.header_menu-active_link {
	padding: 7px 13px;
	text-decoration: none;
	color: #fff;
  background-color: #82263f ;
  border: 2px solid #fff;
	box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #ccc;
}

.header_menu-active_link:hover {
	background-color: #000 ;
	transition: .5s;
}

.header_logo_link {
	/*display: inline-block;*/
	margin: 4px 0 0 -36px;
	left: 50%;
	position: absolute;
}

.header_logo_link img {
	width: 72px;
	height: auto;
}

.header_social_link {
	float: right;
	margin: 30px;
	font-size: 150%;
}

.header_social_link a{
	color: #40579a;
	padding: 1px;

}

.header_welcome {
	margin: 0 auto;
	width: 1230px;
	height: 710px;
	/*clear: both;
	overflow: hidden;*/
}

.header_welcome_info {
	padding-top: 240px;
	width: 100%;
	height: auto;
	text-align: center;
}

.header_welcome_info h1{
	font-family: 'Old Standard TT', serif;
	color: #ffffcc;
	font-size: 48px;
	line-height: 1.2;
}

.white_text {
	color: #fff;
}

.header_welcome_info h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	margin-top: 20px;
	color: #fff;
}

.header_welcome_number {
	text-decoration: none;
	text-shadow: 2px 2px 1px #000;
	color: #fff;
}

.header_welcome_number:hover {
	text-shadow: -2px -2px 1px #000;
	transition: .2s;

}

hr.header_welcome_line {
	margin-top: 17px;
	color: #d1d1d1;
	width: 490px;
	border-top: none;
	clear: both;
}

hr.header_welcome_line:after {
	background: none repeat scroll 0% 0% #d1d1d1;
	content: "";
	width: 9px;
	height: 9px;
	left: 50%;
	margin: -4px auto auto -4px;
	position: absolute;
	transform: rotate(-45deg);
}


.header_welcome_discover {
	margin: 20px auto;
	padding: 20px;
	width: 231px;
	/*height: 60px;*/
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	cursor: pointer;
}

.header_welcome_discover a {
	padding: 20px;
	text-decoration: none;
	color: #000;
}

.header_welcome_discover:hover {
	background-color: #000;
	transition: .5s;
}

.header_welcome_discover:hover a {
	color: #fff;
	transition: .5s;
}

.welcome_nav {
	display: inline-block;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bolder;
}

.welcome_nav li{
	display: inline-block;
	margin: 25px;
	cursor: pointer;
}

.welcome_nav a {
	color: #fff;
	font-size: 330%;
}

.welcome_nav p {
	margin-top: 18px;
}

.welcome_nav_li:hover {
	opacity: 0.6;
	transition: 0.5s;
}

.steak_house {
	display: block;
	background-size: cover;
	height: 1800px;
	background-image: url("../img/parallax_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 60%;
}

.steak_house_section {
	background-color: #fff;
	width: 100%;
	height: 530px;
}

.steak_house_block {
	margin: 0 auto;
	padding-top: 140px;
	width: 1230px;
	text-align: center;
	/*clear: both;*/
}

hr.steak_house_block_line,
hr.steak_house_reservation_line {
	display: inline-block;
	width: 13%;
	color: #d5d5d5;
	clear: both;
}
.steak_house_block h1,
.steak_house_reservation h1 {
	display: inline-block;
	padding: 13px;
	font-family: 'Old Standard TT', serif;
	font-size: 31px;
	letter-spacing: -2px;
}

.steak_house_block h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #a89c72;
}

.steak_house_block p {
	margin: 0 auto;
	padding-top: 55px;
	font-family: 'Open Sans', sans-serif;
	width: 850px;
	color: #444;
	line-height: 2;
}

.steak_house_form {
	font-family: 'Open Sans', sans-serif;
}

.steak_house_reservation {
	margin: 0 auto;
	width: 1230px;
	padding-top: 80px;
	color: #fff;
	text-align: center;
}

.steak_house_reservation h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	padding-bottom: 100px;
}

h1.steak_house_reservation_colortext {
	text-shadow:  2px 1px 1px rgba(0, 0, 0, 0.66);
	font-size: 35px;
	color: #da8857;
	letter-spacing: 1px;
}

.steak_house_reservation h3 {
	color: #ffae80;
	padding-bottom: 15px;
}

.steak_house_reservation_form_first {
	margin: 0 auto;
	width: 720px;
	height: 155px;
	text-align: left;
	font-weight: bolder;
}
.steak_house_reservation_form_data {
	margin-top: 30px;
	margin-bottom: 30px;
}

.steak_house_reservation_form_data input {
	border-radius: 4px;
	width: 460px;
	height: 34px;
	margin-left: 210px;
}

.steak_house_reservation_form_hour,
.steak_house_reservation_form_minute,
.steak_house_reservation_form_am {
	display: inline-block;
}
.steak_house_reservation_form_hour select,
.steak_house_reservation_form_minute select,
.steak_house_reservation_form_am select {
	margin-top: 10px;
	width: 210px;
	height: 34px;
	border-radius: 4px;
}

.steak_house_reservation_form_hour select,
.steak_house_reservation_form_minute select {
	margin-right: 40px;
}


/*.steak_house_reservation_form_hour option,
.steak_house_reservation_form_minute option,
.steak_house_reservation_form_am option {
	text-align: center;
}*/

.steak_house_reservation_form_second {
	margin: 0 auto;
	width: 720px;
	height: 200px;
	text-align: left;
	font-weight: bolder;
}

.steak_house_reservation_form_second_block {
	margin-top: 30px;
}

.steak_house_reservation_form_second h2,
.steak_house_reservation_form_second span {
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #ffae80;
	letter-spacing: -0.1px;
	text-align: center;
	line-height: 1.9;
}

.steak_house_reservation_form_second_party {
	margin-top: 30px;
}

.steak_house_reservation_form_second_field {
	width: 230px;
	height: 34px;
	margin-left: 205px;
	border-radius: 4px;
	border: none;
}
.steak_house_reservation_form_second_party_text {
	margin-left: 255px;
	font-style: italic;
 }

.steak_house_reservation_form_third {
	display: block;
 	margin: 0 auto;
 	width: 720px;
 	height: 60px;
 	text-align: left;
 	font-weight: bolder;
 }

.steak_house_reservation_form_third_block {
	margin-top: 30px;
	margin-bottom: 30px;
}

.steak_house_reservation_form_third_block select {
	margin-left: 129px;
	width: 460px;
	height: 34px;
	border-radius: 4px;
}

.steak_house_reservation_form_button {
	display: block;
	margin: 0 auto;
 	width: 720px;
 	height: 40px;
 	text-align: center;
}

.steak_house_reservation_form_button input {
	display: block;
	margin-top: 30px;
	padding: 15px 50px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #d27244;
	color: #fff;
	font-weight: bolder;
	border: none;
	cursor: pointer;
}
.steak_house_reservation_form_button:hover input {
	background-color: #000;
	transition: 1s;
}

.steak_house_reservation_form_by {
	display: block;
	margin: 60px auto;
	width: 720px;
	text-align: center;
	color: #aeaeae;
	font-size: 13px;
	font-style: italic;
}

.steak_house_reservation_form_by a {
	text-decoration: none;
	color: #d27244;
}

.steak_house_reservation_form_by a:hover {
	color: #000;
	transition: 1s;
}

.reclame {
	display: block;
	background-size: cover;
	/*width: 100%;*/
	height: auto;
	background-image: url("../img/steak_bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: 50%;
}

.reclame_working_hours {
	display: block;
	position: relative;
	width: 100%;
	height: 550px;
	background-color: #fff;
	text-align: center;
}

.reclame_working_hours_title {
	margin: 200px auto 10px auto;;

}

.reclame_working_hours_line {
	display: inline-block;
	margin-bottom: 25px;
	width: 55px;
	color: #e9e9e9;
	/*border-left: none;*/
	border-top: none;
	/*border-right: none;*/
}

.reclame_working_hours_title img {
	display: inline-block;
	border-radius: 50%;
}

.reclame_working_hours_text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.3px;
}

.reclame_working_hours_left_pic {
	float: left;
	position: absolute;
	z-index: 1;
	margin-top: -145px;
	margin-left: -225px;
}

.reclame_working_hours_right_pic {
	overflow: hidden;
	float: right;
	width: 600px;
	margin-top: -200px;
}

.reclame_info {
	display: block;
	width: 100%;
	/*height: 2000px;*/
}

.reclame_info_about {
	display: block;
	margin: 150px auto;
	max-width: 1230px;
	/*height: 600px;*/
	background-color: #fff;
}

.reclame_info_about h1 {
	display: inline-block;
	font-family: 'Old Standard TT';
	font-size: 34px;
	letter-spacing: -3px;
}

.reclame_info_about_experience {
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
}

.reclame_info_about_experience_pic {
	display: inline-block;
	float: left;
	width: 35%;
}

.reclame_info_about_experience_text,
.reclame_info_about_bar_text,
.reclame_info_about_special_text {
	display: inline-block;
	margin: 50px auto;
	text-align: center;
	width: 65%;
}

.reclame_info_about_experience_line {
	display: inline-block;
	width: 160px;
	color: #d5d5d5;
	border-top: none;
	/*border-left: none;*/
	/*border-right: none;*/
}

.reclame_info_about_experience_text h1{
	background-color: #ff8c00;
	color: #fff;
	text-transform: uppercase;
}

/*.reclame_info_about_experience_text p {*/
.reclame_info_about p {
	font-family: 'Open Sans', sans-serif;
	margin: 35px 125px;
	color: #aeaeae;
	font-size: 16px;
	line-height: 1.9;
	/*text-align: center;*/
}

.reclame_info_about_bar {
	margin: 20px 0;
	width: 100%;
	clear: both;
	overflow: hidden;
}


.reclame_info_about_bar_pic {
	display: inline-block;
	float: right;
	width: 35%;
}

.reclame_info_about_special {
	padding-bottom: 50px;
	width: 100%;
	clear: both;
	overflow: hidden;
}

.reclame_info_about_special_pic {
	display: inline-block;
	float: left;
	width: 35%;
}

.reclame_info_about_special_pic img {
	position: relative;
	width: 100%;
}

.reclame_info_about_special_pic_call {
	position: absolute;
	margin: -120px 0 0 -42px;
	font-family: 'Old Standard TT';
	background-color: #000;
	float: left;
	width: 35%;
	text-align: center;
}

.reclame_info_about_special_pic_call p{
	color: #fdca19;
	line-height: 1;
	margin: 0;
	padding: 22px 64px;
}

.reclame_info_about_special_text h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 24px;
	color: #a89c72;
}

.reclame_info_about_special_price {
	display: inline-block;
	width: 65%;
}

.reclame_info_about_special_price_list {
	margin: 0 auto;
	width: 75%;
}

.reclame_info_about_special_price_li {
	width: 50%;
	float: left;
	overflow: hidden;
	padding-top: 10px;
}

.reclame_price_line {
	margin-top: 17px;
	color: #d1d1d1;
	width: 200px;
	border-top: none;
	clear: both;
}

.reclame_price_line::after {
	background: none repeat scroll 0% 0% #d1d1d1;
  content: "";
  width: 9px;
  height: 9px;
  margin: -4px auto auto -4px;
  position: absolute;
  transform: rotate(-45deg);
}

.reclame_info_about_special_price_block {
	font-family: 'Old Standard TT';
	text-align: center;
	line-height: 1.3;
}

.reclame_info_about_special_price_block h4 {
	font-size: 24px;
}

.reclame_info_about_special_price_block span{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #999;
	margin-bottom: 10px;
}
