@font-face {
	font-family:"OpenSansLight";
		src: url("../font/OpenSans-Light.woff") format("woff"),
				 url("../font/OpenSans-Light.ttf") format("ttf"),
				 url("../font/OpenSans-Light.svg#OpenSans-Light") format("svg");
		font-style:normal;
		font-weight:normal;
}
@font-face {
	font-family: "LeagueGothicRegular";
		src: url("../font/LeagueGothic-Regular.woff") format("woff"),
				 url("../font/LeagueGothic-Regular.ttf") format("ttf"),
				 url("../font/LeagueGothic-Regular.svg#LeagueGothic-Regular") format("svg");
		font-style: normal;
		font-weight: normal;
}
@font-face {
    font-family: "open_sansextrabold";
    src: url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../font/opensans-extrabold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold.ttf') format('ttf');
	  font-weight: bold;
    font-style: normal;
}

/*body {
	display: block;
	background: url("../img/Back_960.jpg") no-repeat center 0;
	z-index: 1;
}*/

body {
	display: block;
	/*background-color: yellow;*/
	/*overflow: hidden;*/
}
.fon {
	display: block;
	float: left;
	position: absolute;
	/*background-size: cover;*/
	width: 2400px;
	top: 0;
	left: 0;

}

.fon__top {
	width: 2400px;
	height: 869px;
	/*background-size: 2400px 869px;*/
	float: left;
	background: url("../img/background_960px.jpg") no-repeat center 0;
	margin-top: 0;

}

.fon__blacklight {
	width: 2400px;
	height: 400px;
	background-color: black;
	margin-top: 278px;
	opacity: 0.3;
}

.fon__purple {
	background: -webkit-linear-gradient(top,#a482b2,#2b2031);
	-moz-linear-gradient(top,#a482b2,#2b2031);
	-o-linear-gradient(top,#a482b2,#2b2031);
	-ms-linear-gradient(top,#a482b2,#2b2031);
  -webkit-text-fill-color: transparent;
	width: 2400px;
	height: 340px;
	border: 1px solid #33253a;
	box-shadow: 0px 2px 3px 0px #000;
	/*-webkit-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);*/
	float: left;
	position: absolute;
	box-sizing: border-box;
	margin-top: 846px;
	/*z-index: 1;*/
}

.fon__greytop {
	background-color: #f9f9f9;
	width: 2400px;
	height: 487px;
	float: left;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 317px;

}

.fon__greybottom {
	background-color: #f9f9f9;
	width: 2400px;
	height: 120px;
	float: left;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e6e6e6;
}
.fon__greydark {
	background-color: #ececec;
	width: 2400px;
	height: 396px;
	float: left;
	position: absolute;
	margin-top: 1796px;
	/*box-shadow: 0px 1px 25px 0px #000;*/
	/*-webkit-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);*/
box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
}
.fon__bootom {
	background-image: url("../img/footer_960.jpg");
	background-size: cover;
	width: 2400px;
	height: 112px;
	float: left;
	margin-top: 397px;
	/*position: absolute;*/
}

.arrow {
	display: block;
	position: absolute;
	width: 100%;
	height: 50px;
	margin-top: -200px;
}
.arrow-left{
	width: 23px;
	height: 35px;
	float: left;
	/*margin-left: -402px;*/
	margin: 0 0 0 -402px;
	/*margin-top: -200px;*/
}
.arrow-right{
	width: 23px;
	height: 35px;
	float: right;
	/*margin-right: -401px;*/
	margin: 0 -401px 0 0;
	/*margin-top: -200px;*/
}

.container {
	position: relative;
	width: 960px;
	min-width: 769px;
  left: 50%;
	margin-left: 41px;
	/*border: 1px solid red;
	box-sizing: border-box;*/
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.top {
	display: block;
	margin-top: 66px;
	width: 100%;
	height: 195px;
	font-family: LeagueGothicRegular, Tahoma, Arial, sans-serif;
}

.top__biglog {
	display: inline-block;
	float: left;
	font-size: 48px;
}

.top__biglog__name {
	float: left;
	color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

.top__biglog__namesmall {
	background: -webkit-linear-gradient(top,#a482b2,#2b2031);
	-moz-linear-gradient(top,#a482b2,#2b2031);
	-o-linear-gradient(top,#a482b2,#2b2031);
	-ms-linear-gradient(top,#a482b2,#2b2031);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	/*float: left;*/
	margin-left: -1px;
}
.top__menu:after {
	content: "";
	clear: both;
	display: block;
}

.top__menu__group {
	display: block;
	float: left;
	margin-top: 8px;
}

.top__menu__item {
	display: inline-block;
	width: auto;
	margin-left: 49px;
}

.top__menu__link {
	display: block;
	text-decoration: none;
	color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	font-size: 24px;
}

.top__menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.slider {
	display: block;
	width: 100%;
	height: 413px;
}

.slider__content {
	display: block;
	float: left;
	text-align: left;
	width: 520px;
	margin-top: 95px;
	margin-left: 2px;
}
.slider__title {
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	font-size: 59px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	letter-spacing: -0.2px;
	margin-left: 2px;

}
.slider__tagline {
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	font-size: 32px;
	color: #edbfff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	margin-left: 1px;
}
.slider__text {
	margin-top: 8px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	font-size: 17.8px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	line-height: 1.35;
}
.slider__text_mod {
	font-size: 17.8px;
	line-height: 1.35;
	letter-spacing: -0.1px;

}

.slider__phone {
	display: block;
	float: right;
	position: relative;
	width: 435px;
	height: 413px;
}

.slider__phoneback {
	display: block;
	z-index: 2;
	margin-top: 78px;
	margin-left: 94px;
}

.slider__phonebig {
	display: block;
	position: absolute;
	top: 0;
	right: 68px;
	z-index: 3;
}

.slider__play {
	display: block;
	position: absolute;
	top: 149px;
	right: 128px;
	z-index: 4;
}



.navigation {
	width: 100%;
	height: 168px;
}

.navigation__group {
	display: block;
	float: right;
	margin-top: 98px;
	margin-right: 164px;
}

.navigation__item {
  display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 2.7px;
  background: #000;
	border-radius: 100%;
	opacity: 0.3;
	cursor: pointer;
}

.navigation__item:hover {
	background: #3f3b44 url("../img/nav_point.png") center no-repeat;
	opacity: 1;
}

.blurb {
	display: block;
	width: 100%;
	height: 343px;
	color: #fff;
	text-shadow: 1px 1px 1px rgb(15, 21, 24);
}

.blurb__left {
	display: inline-block;
	width: 35%;
	margin-top: 74px;
	margin-left: 11px;
	}

.blurb__left__img {
	display: inline-block;
	float: left;
	margin-top: 11px;
	margin-left: 1.5px;
	width: 29px;
	height: 35px;
	overflow: hidden;
	background: url("../img/sprite_1.png") no-repeat 0 0;
}

.blurb__left__content {
	display: inline-block;
	overflow: hidden;
	width: 230px;
  height: 165px;
	margin-left: 25px;
	line-height: 1.5;
}

.blurb__left__title {
	margin-left: 1.5px;
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}
.blurb__left__title_mod {
	letter-spacing: -0.2px;
}

.blurb__left__text {
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	/*text-overflow: clip;*/
}

.blurb__left__read {
	display: block;
  float: right;
  margin-top: 16px;
  margin-right: 66px;
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__left__link {
	text-decoration: none;
	color: #fff;
}

.blurb__central {
	display: inline-block;
	width: 30%;
  margin-top: 65px;
}

.blurb__central__img {
  display: inline-block;
  float: left;
  margin-top: 13px;
  width: 29px;
  height: 35px;
  overflow: hidden;
  background: url("../img/sprite_1.png") no-repeat -29px 0;
}

.blurb__central__content {
	display: inline-block;
	overflow: hidden;
	width: 230px;
  height: 165px;
  margin-left: 25px;
  line-height: 1.5;
}

.blurb__central__title {
  font-size: 30px;
  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}
.blurb__central__title_mod {
	letter-spacing: -0.2px;
}

.blurb__central__text {
  font-size: 16px;
  font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	/*text-overflow: clip;*/
}

.blurb__central__read {
  display: block;
  float: right;
  margin-top: 16px;
  margin-right: 15px;
  font-size: 18px;
  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__central__link {
	text-decoration: none;
	color: #fff;
}

.blurb__right {
	display: inline-block;
	float: right;
	width: 33%;
	margin-top: 74px;
}

.blurb__right__img {
	display: inline-block;
	float: left;
	margin-top: 13px;
	margin-left: 47px;
	width: 28px;
	height: 35px;
	overflow: hidden;
	background: url("../img/sprite_1.png") no-repeat -59px 0;
}

.blurb__right__content {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	width: 235px;
  height: 165px;
	margin-left: 16px;
	line-height: 1.5;
}

.blurb__right__title {
	overflow: visible;
  margin-left: 10px;
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__right__title_mod {
	letter-spacing: -0.2px;
}

.blurb__right__text {
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	/*text-overflow: clip;*/
	margin-left: 9px;
}

.blurb__right__read {
	display: block;
  float: right;
	margin-top: 184px;
  margin-right: -1px;
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__right__link {
	text-decoration: none;
	color: #fff;
}

.blurb__left__link:hover,
.blurb__central__link:hover,
.blurb__right__link:hover {
  text-shadow: 0px 0px 9px rgba(255,255,255,1);
}

.testimonials {
	display: block;
	float: left;
	width: 49%;
	height: 490px;
}

.testimonials__fon {
	margin-top: 103px;
	margin-left: 3px;
	width: 100%;
	height: 300px;
	background: url("../img/testimonial_fon.png") no-repeat 23px 0;
}

.testimonials__img {
	display: block;
	float: left;
	margin-top: 18px;
	/*margin-left: -2px;*/
	z-index: 5;
}

.testimonials__title {
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
	text-transform: uppercase;
	padding-top: 29px;
	margin-left: 63px;
}

.testimonials__title_mod {
	color: #edbfff;
}

.testimonials__content {
	width: 360px;
	margin-left: 61px;
	padding-top: 10px;
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	color: #454545;
	line-height: 1.5;
}

.testimonials__nav {
	margin-top: -4px;
	margin-left: 198px;
}

.testimonials__item {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 1.2px;
  background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 100%;
	cursor: pointer;
}

.testimonials__item:hover {
	background: #fff url("../img/testimonial_shape1.png") no-repeat center;
}

.blog {
	display: block;
	float: right;
	margin-right: -2px;
	width: 47%;
	height: 490px;
}

.blog__title {
	display: inline-block;
	float: left;
	width: 100%;
	margin-top: 132px;
  margin-bottom: 6px;
  margin-left: 2px;
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
}

.blog__tag {
	float: left;
	margin-top: 10px;
	margin-left: 4px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	line-height: 1.5;
	color: #454545;
}

.blog__tag_mod_first {
	margin-bottom: 7px;

}
.blog__tag_mod_second {
	margin-bottom: 4px;
}

.blog__tag_mod_third {
		margin-bottom: 11px;
}

.blog__post,
.blog__from {
	display: inline-block;
	padding-left: 16px;
}

.blog__post {
	font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
}

.blog__from {
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
}
.blog__from_mod {
	letter-spacing: -0.4px;
}

.blog__tag_mod_first .blog__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 49px;
	background: url("../img/sprite_2.png") no-repeat 0 0;
}

.blog__tag_mod_second .blog__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 48px;
	background: url("../img/sprite_2.png") no-repeat 0 -49px;
}

.blog__tag_mod_third .blog__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 49px;
	background: url("../img/sprite_2.png") no-repeat 0 -98px;
}

.blog__read {
	float: right;
	margin-top: 11px;
}

.blog__more {
	display: none;
	float: right;
	margin-top: 11px;
}

.blog__link {
	color: #454545;
	text-decoration: none;
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	margin-right: 20px;
}

.blog__link:hover {
	text-shadow: 0 0 9px rgba(0,0,0,0.5);
}

.logos {
	float: left;
	width: 100%;
	height: 120px;
}

.logos__img {
	width: 775px;
	height: 66px;
	margin-top: 24px;
  margin-left: 96px;
	background: url("../img/logos.png") no-repeat center;
}

.articles {
	display: block;
	float: left;
	width: 100%;
	height: 397px;
}

.articles__left {
	display: block;
	float: left;
	width: 340px;
	height: 312px;
}
.articles__left_mod {
	display: none;
}

.articles__left__title {
	margin-top: 95px;
	margin-left: 2px;
	font-size: 48px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	color: #454545;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);

}

.articles__left__title_mod {
	color: #b9b9b9;
}

.articles__left__copyright {
	margin-top: 15px;
  margin-bottom: 10px;
	font-size: 16px;
	font-family: Georgia, Arial, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.articles__left__text {
	overflow: hidden;
	width: 285px;
	height: 120px;
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	color: #787878;
	line-height: 1.5;
}

.articles__center {
	display: block;
	float: left;
	width: 340px;
	height: 312px;
}
.articles__center_mod {
	display: none;
}

.articles__center__title {
	margin-top: 97px;
	margin-bottom: 9px;
	margin-left: 1px;
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.articles__center__text {
	overflow: hidden;
	width: 283px;
	height: 170px;
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	color: #787878;
	line-height: 1.5;
}


.articles__right {
	display: block;
	float: right;
	width: 279px;
	height: 312px;
}

.articles__right__title {
	margin-top: 97px;
	margin-bottom: 9px;
	/*margin-left: -1px;*/
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
	text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.articles__right__text {
	overflow: hidden;
	width: 283px;
	height: 170px;
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	color: #787878;
	line-height: 1.5;
}

.bottom {
	width: 100%;
	height: 110px;
	float: left;
}

.bottom__menu {
	float: left;
	width: 70%;
	height: 60px;
	margin-top: 46px;
	margin-left: 3px;
}

/*.bottom__menu__list {
	margin-top: 50px;
}*/


.bottom__item{
	display: inline-block;
	width: auto;
	margin-right: 39px;
}

.bottom__link {
	font-size: 20px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	text-decoration: none;
}

.bottom__link:hover {
	text-shadow: 0px 0px 9px rgb(255, 255, 255);
	/*font-style: italic;*/
}

.bottom__design {
	display: block;
	float: right;
	width: 29%;
	height: 60px;
	margin-top: 54px;
	margin-right: -5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 12px;
}

.bottom__design__text {
	display: block;
	float: right;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
}

.bottom__design__text_name {
	font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
}
@media screen and (max-width: 960px) and (min-width: 769px) {
	.fon__blacklight {
		width: 2400px;
		height: 400px;
		background-color: black;
		margin-top: 244px;
		opacity: 0.3;
	}

	.fon__purple {
		background: -webkit-linear-gradient(top,#a482b2,#2b2031);
		-moz-linear-gradient(top,#a482b2,#2b2031);
		-o-linear-gradient(top,#a482b2,#2b2031);
		-ms-linear-gradient(top,#a482b2,#2b2031);
	  -webkit-text-fill-color: transparent;
		width: 2400px;
		height: 340px;
		border: 1px solid #33253a;
		box-shadow: 0px 2px 3px 0px #000;
		float: left;
		position: absolute;
		box-sizing: border-box;
		margin-top: 798px;
	}

	.fon__greytop {
		background-color: #f9f9f9;
		width: 2400px;
		height: 487px;
		float: left;
		border-bottom: 1px solid #e6e6e6;
		margin-top: 270px;

	}

	.fon__greybottom {
		background-color: #f9f9f9;
		width: 2400px;
		height: 120px;
		float: left;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #e6e6e6;
	}
	.fon__greydark {
		background-color: #ececec;
		width: 2400px;
		height: 396px;
		float: left;
		position: absolute;
		margin-top: 1749px;
		box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
	}
	.fon__bootom {
		background-image: url("../img/footer_768.jpg");
		background-size: cover;
		width: 2400px;
		height: 201px;
		float: left;
		margin-top: 397px;
	}

	.arrow {
		display: block;
		position: absolute;
		width: 100%;
		height: 50px;
		margin-top: -201px;
	}
	.arrow-left{
		width: 23px;
		height: 35px;
		float: left;
		margin-left: 0px;
	}
	.arrow-right{
		width: 23px;
		height: 35px;
		float: right;
		margin-right: -2px;
	}

	.container {
		position: relative;
		width: 768px;
		min-width: 481px;
		height: 2282px;
	  left: 50%;
		margin-left: 140px;
}

	.clearfix:after {
		content: "";
		clear: both;
		display: block;
	}

	.top {
		display: block;
		margin-top: 65px;
		width: 100%;
		height: 150px;
		font-family: LeagueGothicRegular, Tahoma, Arial, sans-serif;
	}

	.top__biglog {
		display: inline-block;
		float: left;
		font-size: 48px;
		margin-left: 18px;
	}

	.top__biglog__name {
		float: left;
		color: #fff;
	  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	}



	.top__biglog__namesmall {
		background: -webkit-linear-gradient(top,#a482b2,#2b2031);
		-moz-linear-gradient(top,#a482b2,#2b2031);
		-o-linear-gradient(top,#a482b2,#2b2031);
		-ms-linear-gradient(top,#a482b2,#2b2031);
		-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
		/*float: left;*/
		margin-left: -1px;
	}
	.top__menu:after {
		content: "";
		clear: both;
		display: block;
	}

	.top__menu__group {
		display: block;
		float: left;
		margin-top: 29px;
	  margin-left: 20px;
	}

	.top__menu__item {
		display: inline-block;
		width: auto;
		margin-right: 49px;
	}

	.top__menu__link {
		display: block;
		text-decoration: none;
		color: #fff;
	  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
		font-size: 24px;
	}

	.top__menu__item:hover {
		border-bottom: 2px solid #edbfff;
	}

	.slider {
		display: block;
		width: 100%;
		height: 413px;
	}

	.slider__content {
		display: block;
		float: left;
		text-align: left;
		width: 520px;
		margin-top: 127px;
		margin-left: 44px;
	}
	.slider__title {
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		font-size: 45.5px;
		color: #fff;
		text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
		letter-spacing: 0.4px;
		/*margin-left: 2px;*/

	}
	.slider__tagline {
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		font-size: 24px;
		color: #edbfff;
		text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
		/*margin-left: 1px;*/
		margin: 10px 0 0 0;
	}
	.slider__text {
		overflow: hidden;
	  margin: 8px 0 0 0;
	  font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	  font-size: 16.8px;
	  color: #fff;
	  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	  line-height: 1.65;
	  letter-spacing: -0.4px;
	  width: 275px;
	  height: 105px;
	}
	.slider__text_mod {
		font-size: 17.8px;
		line-height: 1.35;
		letter-spacing: -0.1px;

	}

	.slider__phone {
		display: block;
		float: right;
		position: relative;
		width: 435px;
		height: 413px;
		margin: -313px -21px 0 0;
	}

	.slider__phoneback {
		display: block;
		z-index: 2;
		margin-top: 78px;
		margin-left: 94px;
	}

	.slider__phonebig {
		display: block;
		position: absolute;
		top: 0;
		right: 68px;
		z-index: 3;
	}

	.slider__play {
		display: block;
		position: absolute;
		top: 149px;
		right: 128px;
		z-index: 4;
	}



	.navigation {
		width: 100%;
		height: 168px;
	}

	.navigation__group {
		display: block;
		float: right;
		/*margin-top: 98px;
		margin-right: 164px;*/
		margin: 53px -270px 0 0;
	}

	.navigation__item {
	  display: inline-block;
		width: 15px;
		height: 15px;
		margin-left: 2.7px;
	  background: #000;
		border-radius: 100%;
		opacity: 0.3;
		cursor: pointer;
	}

	.navigation__item:hover {
		background: #3f3b44 url("../img/nav_point.png") center no-repeat;
		opacity: 1;
	}

	.blurb {
		display: block;
		width: 100%;
		height: 343px;
		color: #fff;
		text-shadow: 1px 1px 1px rgb(15, 21, 24);
	}

	.blurb__left {
		display: inline-block;
		width: 33%;
		/*margin-top: 74px;
		margin-left: 11px;*/
		margin: 74px 27px 0 0;
		}

	.blurb__left__img {
		display: inline-block;
		float: left;
		margin-top: 5px;
		margin-left: 30px;
		width: 29px;
		height: 35px;
		overflow: hidden;
		background: url("../img/sprite_1.png") no-repeat 0 0;
	}

	.blurb__left__content {
		display: inline-block;
		overflow: hidden;
		width: 163px;
	  height: 181px;
		margin-left: 23px;
		line-height: 1.5;
	}

	.blurb__left__title {
		margin: 0 0 0 2px;
		font-size: 23px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}
	.blurb__left__title_mod {
		letter-spacing: 0.8px;
	}

	.blurb__left__text {
		width: 163px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		/*text-overflow: clip;*/
	}

	.blurb__left__read {
		display: block;
	  float: right;
	  margin-top: 1px;
	  margin-right: 23px;
		font-size: 18px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}

	.blurb__left__link {
		text-decoration: none;
		color: #fff;
	}

	.blurb__central {
		display: inline-block;
		width: 30%;
	  margin-top: 57px;
	}

	.blurb__central__img {
	  display: inline-block;
	  float: left;
	  margin: 6px 0px 0 0;
	  width: 29px;
	  height: 35px;
	  overflow: hidden;
	  background: url("../img/sprite_1.png") no-repeat 0 0;
	}

	.blurb__central__content {
		display: inline-block;
		overflow: hidden;
		width: 167px;
	  height: 178px;
		margin: 3px 0 0 23px;
	  /*margin-left: 25px;*/
	  line-height: 1.5;
	}

	.blurb__central__title {
		margin: -3px 0 0 -1px;
	  font-size: 24px;
	  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}
	.blurb__central__title_mod {
		letter-spacing: -0.2px;
	}

	.blurb__central__text {
		margin: -2px 0 0 0;
		width: 163px;
	  font-size: 16px;
	  font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		/*text-overflow: clip;*/
	}

	.blurb__central__read {
	  display: block;
	  float: right;
		margin: 0 33px 0 0;
	  /*margin-top: 16px;
	  margin-right: 15px;*/
	  font-size: 18px;
	  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}

	.blurb__central__link {
		text-decoration: none;
		color: #fff;
	}

	.blurb__right {
		display: inline-block;
		float: right;
		width: 32%;
		margin-top: 74px;
	}

	.blurb__right__img {
		display: inline-block;
		float: left;
		margin-top: 5px;
		margin-left: 21px;
		width: 28px;
		height: 35px;
		overflow: hidden;
		background: url("../img/sprite_1.png") no-repeat 0px 0;
	}

	.blurb__right__content {
		display: inline-block;
		position: absolute;
		overflow: hidden;
		width: 176x;
	  height: 178px;
		margin-left: 15px;
		line-height: 1.5;
	}

	.blurb__right__title {
		overflow: visible;
	  margin-left: 10px;
		font-size: 24px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}

	.blurb__right__title_mod {
		letter-spacing: -0.2px;
	}

	.blurb__right__text {
		width: 163px;

		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		/*text-overflow: clip;*/
	  margin-top: -2px;
		margin-left: 11px;
	}

	.blurb__right__read {
		display: block;
	  float: right;
		margin-top: 184px;
	  margin-right: 25px;
		font-size: 18px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	}

	.blurb__right__link {
		text-decoration: none;
		color: #fff;
	}

	.blurb__left__link:hover,
	.blurb__central__link:hover,
	.blurb__right__link:hover {
	  text-shadow: 0px 0px 9px rgba(255,255,255,1);
	}

	.testimonials {
		display: block;
		float: left;
		width: 49%;
		height: 490px;
	}

	.testimonials__fon {
		margin: 103px 0 0 22px;
		/*margin-top: 103px;
		margin-left: 22px;*/
		width: 89%;
		height: 300px;
		background: url("../img/testimonial_fon.png") no-repeat 23px 0;
	}

	.testimonials__img {
		display: block;
		float: left;
		margin: 17px 0 0 -2px;
		/*margin-top: 17px;
		margin-left: 17px;*/
		z-index: 5;
	}

	.testimonials__title {
		font-size: 25px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		color: #454545;
		text-transform: uppercase;
		padding-top: 29px;
		margin: 0 0 0 62px;
		letter-spacing: -0.5px;
	}

	.testimonials__title_mod {
		color: #edbfff;
	}

	.testimonials__content {
		width: 257px;
		/*margin-left: 60px;
		padding-top: 10px;*/
		margin: 6px 0 0 0;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #454545;
		line-height: 1.5;
	}

	.testimonials__content__text {
		margin: 0 0 0 60px;
		width: 257px;
		height: 143px;
		overflow: hidden;
	}

	.testimonials__nav {
		margin-top: -4px;
		margin-left: 158px;
	}

	.testimonials__item {
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-left: 1.2px;
	  background: #fff;
		border: 1px solid #e6e6e6;
		border-radius: 100%;
		cursor: pointer;
	}

	.testimonials__item:hover {
		background: #fff url("../img/testimonial_shape1.png") no-repeat center;
	}

	.blog {
		display: block;
		float: right;
		margin-right: -5px;
		width: 47%;
		height: 490px;
	}

	.blog__title {
		display: inline-block;
		float: left;
		width: 100%;
		/*margin-top: 131px;
	  margin-bottom: 6px;
	  margin-left: 6px;*/
		margin: 131px 0 6px 3px;
		font-size: 30px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		color: #454545;
	}

	.blog__tag {
		float: left;
		margin-top: 10px;
		margin-left: 4px;
		width: 100%;
		height: 50px;
		font-size: 16px;
		line-height: 1.5;
		color: #454545;
	}

	.blog__tag_mod_first {
		margin-bottom: 8px;

	}
	.blog__tag_mod_second {
		margin-bottom: 6px;
	}

	.blog__tag_mod_third {
			margin-bottom: 11px;
	}

	.blog__post,
	.blog__from {
		display: inline-block;
		padding-left: 17px;
	}

	.blog__post {
		font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
	}

	.blog__from {
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		width: 255px;
		white-space: nowrap;
		overflow: hidden;
	}
	.blog__from_mod {
		letter-spacing: -0.4px;
	}

	.blog__tag_mod_first .blog__img {
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 49px;
		height: 49px;
		background: url("../img/sprite_2.png") no-repeat 0 0;
	}

	.blog__tag_mod_second .blog__img {
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 49px;
		height: 48px;
		background: url("../img/sprite_2.png") no-repeat 0 -49px;
	}

	.blog__tag_mod_third .blog__img {
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 49px;
		height: 49px;
		background: url("../img/sprite_2.png") no-repeat 0 -98px;
	}

	.blog__read {
		float: right;
		margin-top: 11px;
		display: none;
	}
	.blog__more {
		float: right;
		margin-top: 8px;
	}

	.blog__link {
		color: #454545;
		text-decoration: none;
		font-size: 19.5px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		margin-right: 30px;
		letter-spacing: -0.4px;
	}

	.blog__link:hover {
		text-shadow: 0 0 9px rgba(0,0,0,0.5);
	}

	.logos {
		float: left;
		width: 100%;
		height: 120px;
	}

	.logos__img {
		width: 775px;
		height: 66px;
		/*margin-top: 24px;
	  margin-left: -2px;*/
		margin: 24px 0 0 -2px;
		background: url("../img/logos_768.png") no-repeat center;
	}

	.articles {
		display: block;
		float: left;
		width: 100%;
		height: 397px;
	}

	.articles__left {
		display: none;
		float: left;
		width: 340px;
		height: 312px;
	}
	.articles__left_mod {
		display: block;
		float: left;
		margin-left: 20px;
		width: 265px;
		height: 312px
	}


	.articles__left__title {
		margin-top: 95px;
		margin-left: 2px;
		font-size: 48px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		text-transform: uppercase;
		letter-spacing: -0.5px;
		color: #454545;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);

	}
	.articles__left_mod__title {
		margin: 102px 0 0 0;
		font-size: 25px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		text-transform: uppercase;
		letter-spacing: -0.5px;
		color: #454545;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
		letter-spacing: -0.4px;

	}

	.articles__left__title_mod {
		color: #b9b9b9;
	}

	.articles__left__copyright {
		margin-top: 15px;
	  margin-bottom: 10px;
		font-size: 16px;
		font-family: Georgia, Arial, sans-serif;
		font-style: italic;
		color: #c5c5c5;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
	}

	.articles__left__text {
		overflow: hidden;
		width: 285px;
		height: 120px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #787878;
		line-height: 1.5;
	}
	.articles__left_mod__text {
		overflow: hidden;
		width: 215px;
		height: 170px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #787878;
		line-height: 1.5;
		margin: 9px 0 0 0;
	}

	.articles__center {
		display: none;
		float: left;
		width: 340px;
		height: 312px;
	}

	.articles__center_mod {
		display: block;
		float: left;
		width: 265px;
		height: 312px;
	}

	.articles__center__title {
		margin-top: 97px;
		margin-bottom: 9px;
		margin-left: 1px;
		font-size: 30px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		color: #454545;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
	}

	.articles__center_mod__title {
		/*margin-top: 102px;
		margin-bottom: 9px;
		margin-left: 1px;*/
		margin: 102px 0 9px 1px;
		font-size: 25px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		color: #454545;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
		letter-spacing: -0.4px;
	}

	.articles__center__text {
		overflow: hidden;
		width: 283px;
		height: 170px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #787878;
		line-height: 1.5;
	}
	.articles__center_mod__text {
		overflow: hidden;
		width: 215px;
		height: 170px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #787878;
		line-height: 1.5;
	}


	.articles__right {
		display: block;
		float: right;
		width: 218px;
		height: 312px;
	}

	.articles__right__title {
			/*margin-top: 102px;
			margin-bottom: 9px;
			margin-left: -1px;*/
		margin: 102px 0 9px -1px;
		font-size: 25px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		color: #454545;
		text-shadow: 1px 1px 1px rgb(255, 255, 255);
		letter-spacing: -0.4px;
	}

	.articles__right__text {
		overflow: hidden;
		width: 215px;
		height: 170px;
		font-size: 16px;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		color: #787878;
		line-height: 1.5;
	}

	.bottom {
		width: 100%;
		height: 201px;
		float: left;
	}

	.bottom__menu {
		float: left;
		width: 74%;
		height: 60px;
		margin-top: 45px;
		margin-left: 20px;
	}

	/*.bottom__menu__list {
		margin-top: 50px;
	}*/


	.bottom__item{
		display: inline-block;
		width: auto;
		margin-right: 39px;
	}

	.bottom__link {
		font-size: 20px;
		font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		text-decoration: none;
	}

	.bottom__link:hover {
		text-shadow: 0px 0px 9px rgb(255, 255, 255);
		/*font-style: italic;*/
	}

	.bottom__design {
		display: block;
		float: right;
		width: 22%;
		height: 60px;
		/*margin-top: 54px;
		margin-right: -5px;*/
		margin: 103px 0 0 0;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 12px;
	}

	.bottom__design__text {
		display: block;
		float: right;
		font-family: OpenSansLight, Tahoma, Arial,sans-serif;
		margin: 0 20px 0 0;
	}

	.bottom__design__text_name {
		font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
	}


}
