/* Google Open Sans font*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300&subset=cyrillic);

/*
@font-face {
   font-family: "Open Sans"; /* Имя шрифта *
   src: url(css/Open Sans Regular.ttf); /* Путь к файлу со шрифтом *

  }
  */

body {
  background: #f9f9f9;
  font-family: "Open Sans", Arial;
}

li {
  display: block;

}

a {
    text-decoration: none;

}

.container {
  width: 1065px;
  height: 100%;
  margin: 0 auto;
  padding: 52px 49px 60px 49px;
  /*border: 1px solid red;*/
  background: #fff;
  box-shadow: -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.63);
}

.logo {
  height: 41px;
  /*margin-top: 51px;
  margin-left: 49px;
  border: 1px solid red;*/
}

img.logo_img {
  height: 41px;
}

.header_menu {
  /*display: block;*/
  height: 41px;
  margin-top: 40px;
  /*margin-left: 49px;*/
  background: linear-gradient(top, #5e5e5e, #444343);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#444343));
  background: -webkit-linear-gradient(top, #5e5e5e, #444343);
  background: -moz-linear-gradient(top, #5e5e5e, #444343);
  background: -o-linear-gradient(top, #5e5e5e, #444343);
  background: -ms-linear-gradient(top, #5e5e5e, #444343);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#444343', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e',endColorstr='#444343')";

}

.header_menu a {
  font-size: 11pt;
  color: white;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);

}

.header_menu li {
  width: 145px;
  display: inline-block;
  text-align: center;
  line-height: 2.5;
  /*padding-top: 13px;
  padding-bottom: 12px;*/

}

.header_menu li.selected_first {
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background: linear-gradient(top, #4a4a4a, #2e2e2e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4a4a4a), to(#2e2e2e));
  background: -webkit-linear-gradient(top, #4a4a4a, #2e2e2e);
  background: -moz-linear-gradient(top, #4a4a4a, #2e2e2e);
  background: -o-linear-gradient(top, #4a4a4a, #2e2e2e);
  background: -ms-linear-gradient(top, #4a4a4a, #2e2e2e);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#4a4a4a', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e',endColorstr='#4a4a4a')";

}
              /*__CONTENT__*/
.main_content {
  display: inline-block;
  width: 100%;
  margin-top: 41px;
  /*float: left;
  /*border: 1px solid red;*/

}

.content {
  /*border: 1px solid red;*/
  width: 70%;
  /*display: inline-block;*/
  float:right;
  /*margin-top: 41px;
  margin-left: 350px;*/

}

.image {
  text-align: center;
  border: 1px solid #c8c8c8;

}

img.content_img {
  height: auto;
}

.text {
  padding: 26px;
  /*margin-left: 26px;*/
}

.text p {
  font-size: 10pt;
  color: #535353;
  line-height: 16pt;
}

.sidebar {
  width: 25%;
  float: left;
  /*display: inline-block;
  margin-left: 49px;
  margin-top: 41px;*/
  border: 1px solid #c8c8c8;
  border-bottom: 0;

}

.sidebar a {
  font-size: 10pt;
  color: #656363;

}

.left_menu li {
  padding: 19px 25px 14px 25px;
  border-bottom: 1px solid #c8c8c8;

}

.left_menu li.selected_second {
  background-color: #f9f9f9;

}

.selected_second a {
  padding: 0 10px;
  color: #2c2c2c;
}
              /*__FOOTER__*/
.footer {
  /*display: inline-block;*/
  margin: 38px 0;
  background-color: #e1e1e1;

}

.footer li {
  display: inline-block;
  /*width: 138px;*/
  height: 40px;
  line-height: 2.5;

}
.copyright {
  float: right;

}

.footer_menu a {
  padding: 0 68px 0 26px;
  font-size: 10pt;
  color: #2c2c2c;

}

li.selected_third {
  text-decoration: underline;
}

li.copyright {
  padding: 0 26px;
  font-size: 10pt;
  color: #2c2c2c;
  line-height: 3;

}
