@font-face {
  font-family: "Lucida Sans Unicode Regular";
  src: url("../font/Lucida Sans Unicode Regular.ttf");
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: "Lucida Sans Unicode Regular", Arial,"Arial Black", sans-serif;
}
.clearfix {
  content: "";
  clear: both;
  display: block;
}

.container {
  /*border: 1px solid red;
  box-sizing: border-box;*/
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.header_top {
  display: inline-block;
  width: 100%;
}

.number{
  display: inline-block;
  width: 338px;
}

.number .phone {
    position: absolute;
    float: left;
    margin-left: 5px;
  margin-top: -13px;
}

.number .phone img {
  width: 23px;
  height: 23px;
  background: -webkit-linear-gradient(bottom,#206988,#0c3256);
  border-radius: 100%;
  margin: 0 3px;
}

.number p {
    float: right;
    color: #5e696d;
    font-family: Arial,sans-serif;
    font-size: 15pt;
    margin-top: -12px;
    margin-left: 34px;
    position: absolute;
}

.autorization {
  display: inline-block;
      float: left;
      background: -webkit-linear-gradient(top,#206988,#0c3256);
      border-radius: 4px;
      width: 544px;
      height: 27px;
      font-size: 8pt;
      -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
      -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
      box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
      margin-left: 345px;
      margin-top: -20px;
}

.autorization_form {
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px 0 3px 0;
}

.autorization_form input {
  font-size: 8pt;
  border-radius: 1px;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  margin-top: -1px;
  margin-left: 5px;
  padding-left: 4px;
  /*width: 120px;*/
  height: 15px;
}

input.autoriz_log {
  width: 100px;

}

input.autoriz_pass {
  width: 100px;
  margin-left: 7px;
}

.autorization_form a, span {
  color: #fff;
  text-decoration: none;
}
.autorization_form a.a1 {
  margin-left: 10px;
}
.autorization_form span {
  margin-left: 3px;
}
.autorization_form a.a2 {
  margin-left: 0px;
}


.autorization_form a.forgot {
  text-decoration: underline;
  font-size: 9pt;
  color: #bfbfbf;
  margin-left: 27px;
}

.autorization .img img{
  width: auto;
  height: 19px;
  display: inline-block;
  float: left;
  margin: 4px 0 0 8px;
}

.navi {
  display: block;
  float: right;
  width: 83px;
  height: auto;
  margin-top: -19px;
  margin-right: 8px;
}

.navi_icons{
  position: absolute;
  border: 1px solid #bdc4c7;
  border-radius: 50px;
  z-index: 1;
  background-color: #fff;
}

.navi_shadow{
  position: absolute;
  background-color: #bcc3c6;
  width: 83px;
  height: 22px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  transform: rotate(3deg);
}

.navi img {
  width: auto;
  height: 12px;
  padding: 3px 4px 3px 4px;
}

.header_bottom img {
  width: 100%;
  height: auto;
  margin-top: 12px;
}

.menu {
  width: 100%;
  height: 35px;
  margin-top: 4px;
  background: -webkit-linear-gradient(bottom,#000,#576068);
  border-top: 1px solid #0d1642;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  /*opacity: 0.75;*/
}

/*.menu ul{
  margin-left: 147px;
}*/

.menu ul.menu_button {
  margin-left: 147px;
  list-style: none;
}

.menu ul.menu_bin {
  margin-top: -3px;
  margin-right: 2px;
  float: right;
}

.menu_button li {
  display: inline-block;
  float: left;
  text-align: center;
  padding: 10px 15px;
}

.menu_button a{
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  font-size: 11pt;
  color: #b1bcc0;
  text-decoration: none;
}

.menu_bin li{
  margin-left: 5px;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 11px 5px;
}

li.bin {
  width: 22px;
  height: 100%;
  margin-left: 50px;
  margin-right: 0;
  padding: 0;
}

.menu_bin a{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10pt;
  color: #929b9f;
  text-decoration: none;
}

.menu_bin span {
  font-family: Arial, sans-serif;
  color: #0d5a8f;
}

.menu_button li:hover {
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border-radius: 22px;
}

.menu_button li:hover a {
  color: #fff;
}

li.bin img:hover {
  width: 30px;
  height: 100%;
  margin-top: 5px;
  cursor: pointer;
}

                     /*MENU___SEARCH*/
                  /*FOR index_lesson6.html*/
.search {
  display: inline-block;
  margin-bottom: 5px;
}

.search_car {
  display: block;
  float: left;
  margin-top: 13px;
  margin-left: 4px;
  width: 454px;
  height: 146px;
  border: 1px solid #9c9c9d;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
}


.search_button select {
  font-family: "Arial Regular", Arial, sans-serif;
  font-size: 9pt;
  padding-left: 3px;
  color: #000;
  border: none;
  box-shadow: inset 1px 1px 2px #5e5e5e;
  opacity: 0.75;
  outline: none;
  -webkit-appearance: none;
  -ms-appearance: none;
   appearance: none!important;
   -moz-appearance: none;
   background: #fff url("../img/strelka_select.png") 99% center no-repeat;
}

/*.search_car select {
  border: none;
  box-shadow: inset 1px 1px 2px #5e5e5e;
  opacity: 0.75;
}*/

.search_car h1, h2 {
  display: inline-block;
  /*text-align: center;*/
  /*float: left;*/
  margin-top: 3px;
  margin-left: 23px;
  color: #154468;
  font-family: "Arial Black", Arial, Tahoma, sans-serif;
  font-size: 11pt;
}

.search_car h2{
  font-size: 8pt;
  /*line-height: 2;*/
}
.search_car h1.title_search_car {
  /*margin-top: 1px;*/
  margin-top: 1px;
}

/*.search_car h2.block_disc {
  float: left;
}*/

.search_car h1, h2.block_tires {
  margin-left: 60px;
}

.discs {
  display: inline-block;
  float: left;
  width: 49%;
}

.discs_choice {
  display: block;
  float: left;
  width: 37%;
  margin-top: 3px;
  margin-left: 18px;
}

.discs_choice p {
  font-family: Arial;
  font-size: 8pt;
  color: #000;
  margin-top: 7px;
}

.search_car span {
  font-size: 7pt;
  color: #77858b;
}

.discs_select {
  display: inline-block;
  width: 53%;
  margin-top: -2px;
}

.discs_select select {
  margin-top: 7px;
  width: 114px;
  height: 18px;
  line-height: 0;
}

.search_car select.choice_year {
  width: 65px;
}

.tires {
  display: inline-block;
  float: left;
  width: 49%;
  height: 100px;
}

.tires_choice {
  display: block;
  float: left;
  width: 34%;
  margin-top: 1px;
  margin-left: 20px;
}

.tires_choice p {
  font-family: Arial;
  font-size: 8pt;
  color: #000;
  margin-top: 7px;
}

.tires_select {
  display: inline-block;
  width: 52%;
  margin-left: 9px;
}

.tires_select select {
  margin-top: 6px;
  width: 114px;
  height: 17px;
}

.search_down {
  display: block;
  float: right;
  margin-bottom: 5px;
  margin-right: 21px;
}

.search_down a {
  font-size: 12pt;
  font-family: "Arial Italic", Arial, sans-serif;
  color: #154467;
  font-style: italic;
}

.search_down a:visited {
  color: none;
}
/*
.search_car select:focus {
  outline: none;
}*/



.search_tires {
  display: block;
  float: left;
  width: 210px;
  height: 148px;
  margin: 12px 16px;
  border: 1px solid #9c9c9d;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
}

.search_tires h1 {
  display: inline-block;
  text-align: center;
  float: left;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 11px;
  color: #154468;
  font-family: "Arial Black", Arial, Tahoma, sans-serif;
  font-size: 11pt;
}

.tires_type {
  display: block;
  float: left;
  text-align: end;
  width: 30%;
  margin-top: 4px;
  margin-left: -7px;
}

.tires_type p {
  margin-top: 12px;
  color: #000;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  font-size: 8pt;
}

.tires_type_font p {
  font-family: "Arial Regular", Arial, sans-serif;
}

.tires_variant {
  display: inline-block;
  width: 64%;
  height: 96px;
  margin-top: 7px;
  margin-left: 9px;
}

.tires_variant select {
  /*border: none;
  box-shadow: inset 1px 1px 2px #5e5e5e;
  opacity: 0.75;*/
  width: 56px;
  height: 17px;
}
.tires_variant select.tires_r {
  width: 50px;}


/*
.tires_variant select:focus {
  outline: none;
}*/

.tires_size1 {
  display: block;
  float: left;
  font-family: "Arial Regular", Arial, sans-serif;
  font-size: 8pt;
  color: #000;
}

.slash {
  display: block;
  float: left;
  margin-left: 5px;
}

.slash span {
  font-family: "Arial Regular", Arial, sans-serif;
  font-size: 11pt;
  color: #000;
}

.tires_size2 {
  display: block;
  float: left;
  margin-left: 7px;
  font-family: "Arial Regular", Arial, sans-serif;
  font-size: 8pt;
  color: #000;
}

.tires_variant_slash {
  display: block;
  width: 135px;
}

.tires_r {
  font-family: "Arial Regular", Arial, sans-serif;
  font-size: 8pt;
  color: #000;
  margin-top: 26px;
}

.checkbox_season {
  display: block;
  /*float: left;*/
  width: 60px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin-left: -5px;
}

.checkbox_season input {
  position: absolute;
}

.checkbox_season label {
  /*display: block;
  float: left;*/
  /*margin-top: 17px;*/
  color: #000;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  font-size: 8pt;
  cursor: pointer;
  padding-left: 20px;
}



.search_discs {
  display: block;
  float: left;
  width: 292px;
  height: 146px;
  margin-top: 12px;
  margin-left: -5px;
  border: 1px solid #9c9c9d;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
}

.search_discs h1 {
  display: block;
  text-align: center;
  float: left;
  margin-top: 3px;
  margin-left: 9px;
  color: #154468;
  font-family: "Arial Black", Arial, Tahoma, sans-serif;
  font-size: 11pt;
}

.discs_all_choice {
  display: block;
  float: left;
  width: 30%;
  margin-left: -103px;
  margin-top: 20px;
}

.discs_all_choice p {
  font-family: "Lucida Sans Unicode Regular", Arial,sans-serif;
  font-size: 8pt;
  color: #000;
  margin-top: 8px;
}

.discs_all_choice span {
  font-size: 7pt;
  color: #77858b;
}

.discs_all_select {
  width: 30%;
  display: block;
  float: left;
  margin-top: 6px;
  margin-left: -4px;
}

.discs_all_select select {
  width: 62px;
  height: 17px;
  /*border: none;
  box-shadow: inset 1px 1px 2px #5e5e5e;
  opacity: 0.75;*/
}

.discs_all_select select.discs_field1 {
  width: 54px;
}

.discs_field1, .discs_field {
  margin-top: 17px;
}

.discs_line {
  display: block;
  float: left;
  width: 3px;
  height: 114px;
  border-left: 1px solid #5e5e5e;
  opacity: 0.3;
  margin-top: 6px;
  margin-left: -11px;
}

.discs_box {
  width: 32%;
  height: 123px;
  display: block;
  float: left;
  margin-left: 205px;
  margin-top: -125px;
  /*padding-left: 15px;*/
}

.discs_box p {
  font-size: 8pt;
  color: #000;
  margin-top: 8px;
}

.discs_box span {
  font-size: 7pt;
  color: #77858b;
}

.discs_box select {
  width: 64px;
  height: 17px;
  /*border: none;
  box-shadow: inset 1px 1px 2px #5e5e5e;
  opacity: 0.75;*/
}


                 /*  Sidebar_LEFT  */
.sidebar_left {
  display: block;
  float: left;
  width: 20%;
  /*font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;*/
}

.sidebar_left span {
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;

}

.catalog {
  width: 99%;
  height: 27px;
  /*margin-top: 15px;*/
  border: 1px solid #79878e;
  box-shadow: 0 1px 3px 0px #969696;
  border-radius: 25px;
}

.icon_list {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-left: 2px;
  margin-top: 2px;
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border-radius: 100%;
}

.icon_list img {
  padding-top: 3px;
  padding-left: 4px;
  width: 13px;
  height: 16px;
}

.catalog span {
  display: inline-block;
  float: right;
  padding-right: 13px;
  padding-top: 7px;
  font-size: 10pt;
}

.catalog_tires,
.catalog_discs,
.catalog_bolts {
  width: 86%;
  height: 126px;
  margin-top: 15px;
}

.tires_left,
.discs_left,
.bolts_left {
  width: 95%;
  height: 28px;
  border: 1px solid #79878d;
  border-radius: 25px;
}

.tires_left img,
.discs_left img,
.bolts_left img {
  float: left;
  width: 25px;
  padding-top: 1px;
  padding-left: 6px;
}

.tires_left span,
.discs_left span,
.bolts_left span {
  display: block;
  float: right;
  font-size: 11pt;
  padding-top: 9px;
  padding-right: 80px;
}

.tires_list,
.discs_list,
.bolts_list {
  display: block;
  font-size: 11pt;
  line-height: 2;

}

.tires_list a,
.discs_list a,
.bolts_list a {
  color: #465961;
}

.tires_list li,
.discs_list li,
.bolts_list li {
  margin-left: 38px;
  background: url("../img/shape_mini2.png") no-repeat 0 10px;
  padding-left: 10px;
}

.tires_list img,
.discs_list img,
.bolts_list img {
  margin-right: 3px;
  width: 8px;
  border-radius: 100%
}

.tires_list a,
.discs_list a,
.bolts_list a  {
  text-decoration: none;
}

.tires_list a:visited,
.discs_list li:visited a,
.bolts_list li:visited a, {
  color: none;
}

.tires_list ul li:hover a,
.discs_list ul li:hover a,
.bolts_list ul li:hover a {
  color: #0c3256;
  text-decoration: underline;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 11pt;
}

.tires_list ul li:hover,
.discs_list ul li:hover,
.bolts_list ul li:hover {
    background: url("../img/shape_hover2.png") no-repeat 0 10px;
    padding-left: 10px;
}
                        /* PRODUCTS */
.products {
  display: block;
  float: left;
  margin: -5px 11px 20px 9px;
  padding-top: 4px;
  width: 58%;
  height: 687px;
  background: -webkit-linear-gradient(top,#e5e7e8,#93a7b0);
  border-radius: 5px;
}

figure {
  display: inline-block;
  width: 27%;
  text-align: center;
  margin: 15px;
  line-height: 0.9;
}

figure .image_product1 {
  width: 150px;
  height: 139px;
  border: 1px solid #a4aeb1;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 11px;
}

p.bold1 {
  font-size: 13pt;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  color: #206988;
  padding-left: 17px;
  font-weight: bold;
}

.bold1 span {
  font-size: 11pt;
  color: #1f2528;
  padding-left: 6px;
}

p.price1 {
  font-size: 14pt;
  font-family: Arial, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #114165;
  padding-left: 25px;
}

figure .image_product1 img.image_goodyear1 {
  width: 82px;
  margin-top: 4px;
}

figure .image_product2 {
  width: 150px;
  height: 139px;
  border: 1px solid #a4aeb1;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 5px;
}

p.bold2 {
  font-size: 13pt;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  color: #206988;
  padding-left: 12px;
  font-weight: bold;
}

.bold2 span {
  font-size: 11pt;
  color: #1f2528;
  padding-left: 2px;
}

p.price2 {
  font-size: 14pt;
  font-family: Arial, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #114165;
  padding-left: 12px;

}

figure .image_product2 img.image_nokian1 {
  width: 77px;
  margin-top: 3px;
  margin-right: 2px;
}

figure .image_product3 {
  width: 150px;
  height: 139px;
  border: 1px solid #a4aeb1;
  border-radius: 10px;
  background-color: #fff;
  margin-left: -2px;
}

p.bold3 {
  font-size: 13pt;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  color: #206988;
  padding-left: 0px;
  font-weight: bold;
}

.bold3 span {
  font-size: 11pt;
  color: #1f2528;
}

p.price3 {
  font-size: 14pt;
  font-family: Arial, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #114165;
}

figure .image_product3 img.image_hankook1 {
  width: 88px;
  margin-top: 4px;
  margin-left: -1px;
}

figcaption  {
  margin-top: 6px;
  margin-left: 13px;
}


                      /* RIGHT_sidebar */
.sidebar_right {
  display: block;
  float: left;
  width: 20%;
  margin-top: -2px;
}

.sidebar_right span {
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}

.brend {
  width: 98%;
  height: 25px;
  border: 1px solid #79878e;
  box-shadow: 0 1px 3px 0px #969696;
  border-radius: 25px;
}

.icon_brend {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  margin-top: 1px;
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border-radius: 100%;
}

.icon_brend img {
  padding-top: 3px;
  padding-left: 4px;
  width: 13px;
  height: 15px;
}

.brend span {
 display: inline-block;
 float: right;
 padding-right: 101px;
 padding-top: 6px;
 font-size: 11pt;
}

.brend_tires,
.brend_discs {
  width: 78%;
  height: 107px;
  margin-top: 18px;
}

.tires_right,
.discs_right {
  width: 95%;
  height: 28px;
  border: 1px solid #79878d;
  border-radius: 12px;
  margin-left: 14px;
  margin-bottom: 5px;
}

.tires_right img,
.discs_right img {
  float: left;
  width: 25px;
  padding-top: 1px;
  padding-left: 4px;
}

.tires_right span,
.discs_right span {
  display: block;
  float: left;
  font-size: 11pt;
  padding-top: 7px;
  padding-left: 5px;
}

.tires_check {
  display: block;
  font-size: 11pt;
  line-height: 1.9;
  width: 155px;
  height: 79px;
  margin-left: 4px;
  margin-top: -1px;
}

.discs_check {
  display: block;
  font-size: 11pt;
  line-height: 1.9;
  width: 155px;
  height: 79px;
  margin-left: 4px;
  margin-top: 7px;
}

.tires_check label,
.discs_check label {
  display: block;
  color: #465961;
  margin-left: 18px;
  cursor: pointer;
}

.button_choice{
  margin-top: 23px;
}

.button_choice button {
  margin-left: 24px;
  margin-top: 4px;
  width: 92px;
  height: 30px;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #e5e9ea;
  border-radius: 14px;
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border: 1px solid #a7abae;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 1px 2px 5px 0px rgba(189,189,189,1);
  box-shadow: 1px 2px 5px 0px rgba(189,189,189,1);
  cursor: pointer;
}

.button_choice button:focus {
  outline: none;
}


            /* FOOTER */
footer {
  width: 100%;
  height: auto;
}

.footer_top {
  /*border: 1px solid red;*/
  width: 80%;
  height: 78px;
  margin-left: 126px;
}

/*.footer_top img {
  display: inline-block;
}*/
/*.footer_top img {
  width: 88px;
  margin: 6px 3px;
}*/
.footer_top img.brandLogo1 {
  width: 88px;
  margin-bottom: -34px;
  margin-left: 4px;
}

.footer_top img.brandLogo2 {
  width: 104px;
  margin-bottom: -28px;
  margin-left: 12px;
}

.footer_top img.brandLogo3 {
  width: 88px;
  margin-bottom: -35px;
  margin-left: 9px;
}

.footer_top img.brandLogo4 {
  width: 63px;
  margin-bottom: -34px;
  margin-left: 11px;
}

.footer_top img.brandLogo5 {
  width: 87px;
  margin-bottom: -27px;
  margin-left: 12px;
}

.footer_top img.brandLogo6 {
  width: 63px;
  margin-bottom: -38px;
  margin-left: 4px;
}

.footer_top img.brandLogo7 {
  width: 70px;
  margin-bottom: -29px;
  margin-left: 9px;
}

.footer_top img.brandLogo8 {
  width: 78px;
  margin-bottom: -27px;
  margin-left: 8px;
}




.footer_bottom {
  width: 100%;
  height: 110px;
  background-color: #213a4d;
  border: 1px solid #242a3c;
  text-align: center;
}
.footer_bottom li {
  display: inline-block;
  margin: 12px 0;

  /*width: 74px;*/
  height: 10px;
  /*text-align: center;*/
  line-height: 0.6;
}
.footer_bottom li.line_right {
  border-right: 1px solid #bec6c9;
}

.footer_bottom a {
  color: #bec6c9;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-decoration: none;
  margin: 0 13px 0 13px;

}

.footer_bottom p {
  color: #7f4740;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  margin-top: 7px;
}

.footer_bottom li:hover a {
  color: #52abcb;
