@font-face {
  font-family: "Lucida Sans Unicode Regular";
  src: url("../font/Lucida Sans Unicode Regular.ttf");
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: "Lucida Sans Unicode Regular", Arial,"Arial Black", sans-serif;
}
.clearfix {
  content: "";
  clear: both;
  display: block;
}

.container {
   width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.header_top {
  display: inline-block;
  width: 100%;

}

.number{
  display: inline-block;
  width: 338px;
}
.number .phone {
  position: absolute;
  float: left;

}


.number .phone img {
  width: 23px;
  height: 23px;
  background: -webkit-linear-gradient(bottom,#206988,#0c3256);
  border-radius: 100%;
  margin: 0 3px;
}

.number p {
  color: #5e696d;
  font-family: Arial,sans-serif;
  font-size: 15pt;
  margin-left: 30px;
}

.autorization {
  display: inline-block;
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border-radius: 4px;
  width: 543px;
  height: 28px;
  font-size: 8pt;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
  box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);

}

.autorization_form {
  margin-top: 3px;
}

.autorization_form input {
  font-size: 8pt;
  border-radius: 1px;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  /*margin-top: 5px;*/
  margin-left: 4px;
  padding-left: 4px;
  width: 119px;
}


.autorization_form a, span {
  color: #fff;
  text-decoration: none;
  margin-left: 3px;

}
.autorization_form a.forgot {
  text-decoration: underline;
  font-size: 9pt;
  color: #bfbfbf;
  margin: 0 5px 0 13px;
}

.autorization .img img{
  width: auto;
  height: 19px;
  display: inline-block;
  float: left;
  margin: 4px 0 0 8px;
}
.autorization_form {
  display: inline-block;
  float: right;
  padding: 3px 0 3px 0;
}

.navi {
  display: block;
  float: right;
  width: 83px;
  height: auto;
  margin-right: 5px;
}

.navi_icons{
  position: absolute;
  border: 1px solid #bdc4c7;
  border-radius: 50px;
  z-index: 1;
  background-color: #fff;
}

.navi_shadow{
  position: absolute;
  background-color: #bcc3c6;
  width: 83px;
  height: 22px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  transform: rotate(3deg);
}

.navi img {
  width: auto;
  height: 12px;
  padding: 3px 4px 3px 4px;
}
.header_bottom img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.menu {
  width: 100%;
  height: 40px;
  background: -webkit-linear-gradient(bottom,#000,#576068);
  border-top: 1px solid #0d1642;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
  /*opacity: 0.75;*/
}
.menu ul{
  margin-left: 164px;

}
.menu_button li {
  display: inline-block;
  float: left;
  text-align: center;
  padding: 11px 15px;
}

.menu_button a{
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
  font-size: 11pt;
  color: #b1bcc0;
  text-decoration: none;
}
.menu_bin li{
  margin-left: 5px;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 11px 5px;
}

li.bin {
  width: 22px;
  height: 100%;
  margin-left: 50px;
  margin-right: 0;
  padding: 0;
}

.menu_bin a{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 10pt;
  color: #929b9f;
  text-decoration: none;

}
.menu_bin span {
  font-family: Arial, sans-serif;
  color: #0d5a8f;
}
.menu_button li:hover {
  background: -webkit-linear-gradient(top,#206988,#0c3256);
  border-radius: 22px;
}

.menu_button li:hover a {
  color: #fff;
}

li.bin img:hover {
  width: 30px;
  height: 100%;
  margin-top: 5px;
  cursor: pointer;
}

                     /*MENU___SEARCH*/
                  /*FOR index_lesson6.html*/
.search_car {
  display: block;
  margin-top: 10px;
  width: 460px;
  height: 250px;
  border: 1px solid #9c9c9d;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  -moz-box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
  box-shadow: 1px 1px 7px 0px rgba(104,104,104,1);
}

.search_car select {
  background: transparent;
  border: none;
  box-shadow: inset 1px 1px 1px #000;
  margin-top: 9px;
  width: 125px;
}

.search_button {
  width: 125px;
  background: url("img/strelka_select.png") no-repeat;
}

.search_car h1, h2 {
  display: inline-block;
  text-align: center;
  float: left;
  margin-top: 2px;
  margin-left: 18px;
  color: #154468;
  font-family: "Arial Black", Arial, Tahoma, sans-serif;
  font-size: 10pt;
}
.search_car h2{
  font-size: 8pt;
  line-height: 2;
}

.search_car h2.block_disc {
  float: left;
}

.search_car h1, h2.block_tires {
  margin-left: 80px;
}
.discs {
  display: inline-block;
  width: 100%;
  height: 150px;
}

.discs_choice {
  display: block;
  float: left;
  width: 17%;
  margin-top: 5px;
  margin-left: 18px;
}

.discs_choice p {
  font-family: Arial;
  font-size: 8pt;
  color: #000;
  margin-top: 10px;
}

.search_car span {
  font-size: 7pt;
  color: #77858b;
}

.discs_select {
  display: inline-block;
  /*float: left;*/
  width: 25%;
}

/*.discs_select select {
  margin-top: 9px;
  width: 125px;
}*/

select.choice_year {
  width: 50px;
}





.products_fon {
  margin-top: 100px;
  display: block;
  width: 701px;
  height: 837px;
  background: linear-gradient(top,#93a7b0,#e5e7e8);
}

.product {
  display: inline-block;
}
