@font-face {
  font-family: "Lucida Sans Unicode Regular";
  src: url("../font/Lucida Sans Unicode Regular.ttf");
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: "Lucida Sans Unicode Regular", Arial, sans-serif;
}
.clearfix {
  content: "";
  clear: both;
  display: block;
}

.container {
  border: 1px solid red;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.header_top {
  display: inline-block;
  width: 100%;

}

.number{
  display: inline-block;
  width: 338px;
}
.number .phone {
  position: absolute;
  float: left;

}


.number .phone img {
  width: 22px;
  height: 22px;
  background: -webkit-linear-gradient(bottom,#206988,#0c3256);
  border-radius: 100%;
  margin: 0 3px;
}

.number p {
  color: #5e696d;
  font-family: Arial;
  font-size: 15pt;
  margin-left: 30px;
}

.autorization {
  display: inline-block;
  background: -webkit-linear-gradient(bottom,#206988,#0c3256);
  border-radius: 5px;
  width: 543px;
  height: auto;
  font-size: 8pt;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);
  box-shadow: 2px 2px 6px 0px rgba(150,150,150,1);

}

.autorization_form input {
  font-size: 8pt;
  border-radius: 1px;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  box-shadow: 0px 0px 2px 2px rgba(155,161,163,0.75);
  margin-left: 4px;
  padding-left: 4px;
  width: 119px;
}


.autorization_form a, span {
  color: #fff;
  text-decoration: none;
  margin-left: 3px;

}
.autorization_form a.forgot {
  text-decoration: underline;
  font-size: 9pt;
  color: #bfbfbf;
  margin: 0 5px 0 13px;
}

.autorization .img img{
  width: auto;
  height: 19px;
  display: inline-block;
  float: left;
  margin: 4px 0 0 8px;
}
.autorization_form {
  display: inline-block;
  float: right;
  padding: 3px 0 3px 0;
}

.navi {
  display: block;
  float: right;
  width: 83px;
  height: auto;
  margin-right: 5px;
}

.navi_icons{
  position: absolute;
  border: 1px solid #bdc4c7;
  border-radius: 50px;
  z-index: 1;
  background-color: #fff;
}

.navi_shadow{
  position: absolute;
  background-color: #bcc3c6;
  width: 83px;
  height: 22px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  box-shadow: 0px 0px 7px 0px rgba(188,195,198,1);
  transform: rotate(3deg);
}

.navi img {
  width: auto;
  height: 12px;
  padding: 3px 4px 3px 4px;
}
.header_bottom img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.products_fon {
  margin-top: 100px;
  display: block;
  width: 701px;
  height: 837px;
  background: linear-gradient(top,#93a7b0,#e5e7e8);
}

.product {
  display: inline-block;
}
