.wrapper {
  margin-top: 35px;
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
}
.carousel-hider {
    width: 1000px;
    overflow: hidden;
		float: left;
}

.carousel-list {
	 position: relative;
  list-style: none;
	width: 10000px;
	padding: 0px;
}

.carousel-element {
    display: block;
    margin-right: 10px;
    float: left;
}
.carousel-element p {
  text-align: center;
}

.carousel-element img {
    max-width: 325px;
}

.carousel-arrow-left,
.carousel-arrow-right {
    float: left;
    display: block;
    margin-top: 70px;
}

.carousel-arrow-left img,
.carousel-arrow-right img {
  width: 40px;
}

.carousel-arrow-left img:hover,
.carousel-arrow-right img:hover {
    cursor: pointer;
}

.carousel-arrow-left {
    margin-right: 25px;
    margin-left: 100px;

}

.carousel-arrow-right {
    margin-left: 25px;
}
