@font-face {
	font-family:"OpenSansLight";
		src: url("../font/OpenSans-Light.woff") format("woff"),
				 url("../font/OpenSans-Light.ttf") format("ttf"),
				 url("../font/OpenSans-Light.svg#OpenSans-Light") format("svg");
		font-style:normal;
		font-weight:normal;
}
@font-face {
	font-family: "LeagueGothicRegular";
		src: url("../font/LeagueGothic-Regular.woff") format("woff"),
				 url("../font/LeagueGothic-Regular.ttf") format("ttf"),
				 url("../font/LeagueGothic-Regular.svg#LeagueGothic-Regular") format("svg");
		font-style: normal;
		font-weight: normal;
}
@font-face {
    font-family: "open_sansextrabold";
    src: url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../font/opensans-extrabold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold.ttf') format('ttf'),
	  font-weight: bold;
    font-style: normal;

}
body {
	display: block;
	background: url("../img/background_all.jpg") no-repeat center 0;
	z-index: 1;
}

.container {
	/*border: 1px solid red;*/
	position: absolute;
	width: 960px;
  left: 50%;
	margin-left: -483px;
}

header {
	display: block;
	margin-top: 70px;
	width: 100%;
	height: 195px;
	font-family: LeagueGothicRegular, Tahoma, Arial, sans-serif;
}

.big_log {
	display: inline-block;
	float: left;
	font-size: 48px;
}

.big_log p {
	color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

.big_log span {
	background: -webkit-linear-gradient(top,#a482b2,#2b2031);
	-moz-linear-gradient(top,#a482b2,#2b2031);
	-o-linear-gradient(top,#a482b2,#2b2031);
	-ms-linear-gradient(top,#a482b2,#2b2031);
	-webkit-background-clip: text;
   /*color: transparent;*/
	 -webkit-text-fill-color: transparent;
}
.menu:after {
	content: "";
	clear: both;
	display: block;
}

.menu__group {
	display: block;
	float: right;
	/*margin-left: 117px;*/
	margin-top: 8px;
}

.menu__group li{
	display: inline-block;
	width: auto;
	margin-left: 50px;
}

.menu__group li a{
	display: block;
	text-decoration: none;
	color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
	font-size: 24px;
}

.menu__group li:hover a {
	border-bottom: 2px solid #edbfff;
}

.slider {
	display: block;
	width: 100%;
	height: 413px;
}

.slider__content {
	display: block;
	float: left;
	text-align: left;
	width: 520px;
	margin-top: 93px;
}
.slider__content h1 {
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	font-size: 59px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.slider__content h2 {
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	font-size: 32px;
	color: #edbfff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.slider__content p {
	margin-top: 8px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	line-height: 1.4;
}

.slider__phone {
	display: block;
	float: right;
	position: relative;
	width: 440px;
	height: 413px;
}

.slider__phone__phoneback {
	display: block;
	/*float: right;
	position: absolute;*/
	z-index: 2;
	margin-top: 73px;
	margin-left: 90px;
}

.slider__phone__phonebig {
	display: block;
	position: absolute;
	top: 0;
	right: 70px;
	z-index: 3;
}

.slider__phone__play {
	display: block;
	/*float: right;*/
	position: absolute;
	top: 149px;
	right: 130px;
	z-index: 4;
	/*opacity: 0.5;*/
}
.navigation {
	width: 100%;
	height: 168px;
}
.navigation__group {
	display: block;
	float: right;
	margin-top: 98px;
	margin-right: 167x;

}
.navigation__group__item {
  display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 2px;
  background: #000;
	border-radius: 100%;
	opacity: 0.3;
	cursor: pointer;
}
.navigation__group__item:hover {
	background: #3f3b44 url("../img/nav_point.png") center no-repeat;
	opacity: 1;
}

.blurb {
	display: block;
	width: 100%;
	height: 343px;
	color: #fff;
	/*border: 1px solid red;
	box-sizing: border-box;*/
}

.blurb__left {
	display: inline-block;
	width: 35%;
	margin-top: 74px;
	margin-left: 11px;
	}

.blurb__left__img {
	display: inline-block;
	float: left;
	margin-top: 11px;
	width: 29px;
	height: 35px;
	overflow: hidden;
	background: url("../img/sprite_1.png") no-repeat 0 0;
}

.blurb__left__content {
	display: inline-block;
	width: 230px;
	margin-left: 25px;
	line-height: 1.5;
}

.blurb__left__content h1 {
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__left__content p {
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
}

.blurb__left__read {
	display: block;
  float: right;
  margin-top: 19px;
  margin-right: 67px;
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__left__read a {
	text-decoration: none;
	color: #fff;
}

.blurb__central {
	display: inline-block;
	width: 30%;
  margin-top: 65px;
}

.blurb__central__img {
  display: inline-block;
  float: left;
  margin-top: 13px;
  width: 29px;
  height: 35px;
  overflow: hidden;
  background: url("../img/sprite_1.png") no-repeat -29px 0;
}

.blurb__central__content {
  display: inline-block;
  width: 230px;
  margin-left: 25px;
  line-height: 1.5;
}

.blurb__central__content h1 {
  font-size: 30px;
  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__central__content p {
  font-size: 16px;
  font-family: OpenSansLight, Tahoma, Arial,sans-serif;
}

.blurb__central__read {
  display: block;
  float: right;
  margin-top: 19px;
  margin-right: 17px;
  font-size: 18px;
  font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__central__read a {
	text-decoration: none;
	color: #fff;
}

.blurb__right {
	display: inline-block;
	width: 33%;
	margin-top: 65px;
}

.blurb__right__img {
	display: inline-block;
	float: left;
	margin-top: 12px;
	margin-left: 45px;
	width: 29px;
	height: 35px;
	overflow: hidden;
	background: url("../img/sprite_1.png") no-repeat -59px 0;
}

.blurb__right__content {
	display: inline-block;
	width: 226px;
	margin-left: 16px;
	line-height: 1.5;
}

.blurb__right__content h1 {
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__right__content p {
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
}

.blurb__right__read {
	display: block;
  float: right;
  margin-top: 19px;
  /*margin-right: 37px;*/
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
}

.blurb__right__read a {
	text-decoration: none;
	color: #fff;
}

.blurb__left__read a:hover,
.blurb__central__read a:hover,
.blurb__right__read a:hover {
  text-shadow: 0px 0px 9px rgba(255,255,255,1);
}

.testimonials {
	display: block;
	float: left;
	width: 49%;
	height: 490px;
}

.testimonials__fon {
	margin-top: 103px;
	margin-left: 3px;
	width: 100%;
	height: 300px;
	background: url("../img/testimonial_fon.png") no-repeat 23px 0;
}

.testimonials__fon__img {
	display: block;
	float: left;
	margin-top: 18px;
	margin-left: -2px;
	z-index: 5;
}

.testimonials__fon__title {
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
	text-transform: uppercase;
	padding-top: 29px;
	margin-left: 61px;
}

.testimonials__fon__title span {
	color: #edbfff;
}

.testimonials__fon__content {
	width: 360px;
	margin-left: 61px;
	padding-top: 10px;
	font-size: 16px;
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	color: #454545;
	line-height: 1.5;
}

.testimonials__nav {
	margin-top: -5px;
	margin-left: 213px;
}

.testimonials__nav__item {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 2px;
  background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 100%;
	cursor: pointer;
}

.testimonials__nav__item:hover {
	background: #fff url("../img/testimonial_shape1.png") no-repeat center;
}

.blog {
	display: block;
	float: right;
	margin-left: 20px;
	width: 47%;
	height: 490px;
	/*border: 1px solid red;
	box-sizing: border-box;*/
}

.blog__title {
	display: inline-block;
	float: left;
	width: 100%;
	margin-top: 132px;
  margin-bottom: 6px;
  margin-left: 2px;
	font-size: 30px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	color: #454545;
}
.blog__first {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 4px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	line-height: 1.5;
	color: #454545;
}

.blog__first p{
	display: inline-block;
	padding-left: 16px;
}

.blog__first__post {
	font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
	font-weight: bold;
}

.blog__first__from {
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	font-weight: normal;

}

.blog__first__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 49px;
	background: url("../img/sprite_2.png") no-repeat 0 0;
}

.blog__second {
	float: left;
	margin-top: 7px;
	margin-bottom: 10px;
	margin-left: 4px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	line-height: 1.5;
	color: #454545;
}

.blog__second p{
	display: inline-block;
	padding-left: 16px;
}

.blog__second__post {
	font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
	font-weight: bold;
}

.blog__second__from {
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	font-weight: normal;
}

.blog__second__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 48px;
	background: url("../img/sprite_2.png") no-repeat 0 -49px;
}

.blog__third {
	float: left;
	margin-top: 4px;
	margin-bottom: 21px;
	margin-left: 4px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	line-height: 1.5;
	color: #454545;
}

.blog__third p{
	display: inline-block;
	padding-left: 16px;
}

.blog__third__post {
	font-family: open_sansextrabold, Tahoma, Arial,sans-serif;
	font-weight: bold;
}

.blog__third__from {
	font-family: OpenSansLight, Tahoma, Arial,sans-serif;
	font-weight: normal;
}

.blog__third__img {
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 49px;
	height: 49px;
	background: url("../img/sprite_2.png") no-repeat 0 -98px;
}

.blog__read {
	float: right;
}

.blog__read a{
	color: #454545;
	text-decoration: none;
	font-size: 18px;
	font-family: LeagueGothicRegular, Tahoma, Arial,sans-serif;
	margin-right: 20px;
}

.blog__read:hover a {
	text-shadow: 0 0 9px rgba(0,0,0,0.5);
}
