@font-face {
  font-family: "ProximaNova Regular";
  src: url('../font/Proxima Nova Regular.eot');
	src: local('☺'), url('../font/Proxima Nova Regular.woff') format('woff'),
   url('../font/Proxima Nova Regular.ttf') format('truetype'),
   url('../font/Proxima Nova Regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova RegularIt";
  src: url('../font/Proxima Nova Regular Italic.eot');
	src: local('☺'),
  url('../font/Proxima Nova Regular Italic.woff') format('woff'),
  url('../font/Proxima Nova Regular Italic.ttf') format('truetype'),
  url('../font/Proxima Nova Regular Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "ProximaNova Light";
  src: url('../font/Proxima Nova Light.eot');
	src: local('☺'),
   url('../font/Proxima Nova Light.woff') format('woff'),
   url('../font/Proxima Nova Light.ttf') format('truetype'),
   url('../font/Proxima Nova Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "ProximaNova LightIt";
  src: url('../font/Proxima Nova Light Italic.eot');
	src: local('☺'),
   url('../font/Proxima Nova Light Italic.woff') format('woff'),
   url('../font/Proxima Nova Light Italic.ttf') format('truetype'),
   url('../font/Proxima Nova Light Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "ProximaNova Bold";
  src: url('../font/Proxima Nova Bold.eot');
	src: local('☺'), url('../font/Proxima Nova Bold.woff') format('woff'),
   url('../font/Proxima Nova Bold.ttf') format('truetype'),
   url('../font/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "ProximaNova BoldIt";
  src: url('../font/Proxima Nova Bold Italic.eot');
  src: local('☺'),
  url('../font/Proxima Nova Bold Italic.woff') format('woff'),
  url('../font/Proxima Nova Bold Italic.ttf') format('truetype'),
  url('../font/Proxima Nova Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova Extrabold";
  src: url('../font/Proxima Nova Extrabold.eot');
	src: local('☺'), url('../font/Proxima Nova Extrabold.woff') format('woff'), url('../font/Proxima Nova Extrabold.ttf') format('truetype'), url('../font/Proxima Nova Extrabold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "ProximaNova Black";
  src: url('../front/Proxima Nova Black.eot');
  src: local('☺'), url('../front/Proxima Nova Black.woff') format('woff'), url('../front/Proxima Nova Black.ttf') format('truetype'), url('../front/Proxima Nova Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: block;
  font-family: "ProximaNova Regular", sans-serif;
}

.head {
  display: block;
  height: 690px;
  background: url(../img/header_fon.jpg) no-repeat 0;
  background-size: cover;
}

.head__container {
  display: block;
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.head__container__top {
  display: block;
  /*position: fixed;*/
  z-index: 10;
  width: 100%;
  height: 74px;
  background-color: #ffffff;
  box-shadow: -0.9px 0.5px 2px rgba(0, 0, 0, 0.12);
}

.head__container__top__size {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.head__container__logo{
  display: block;
  clear: both;
  width: 267px;
  height: 44px;
  padding: 17px 0 0 9%;   /* <------------ responsive */
}

.head__container__contacts {
  display: block;
  float: right;
  padding: 1px 10% 0 0;    /* <------------ responsive */
  margin-top: -33px;
  font-family: "ProximaNova Regular", sans-serif;
  text-align: right;
}

.head__container__contacts__question {
  font-size: 16px;
}

.head__container__contacts__write {
  font-size: 23px;
}

.head__email {
  font-family: "ProximaNova Bold", sans-serif;
}

.head__dog {
  color: #f24942;
}

.head__container__center {
  display: block;
  max-width: 1200px;
  height: 444px; /* height: 616px or 690px */
  margin: 0 auto;
}

.head__container__partner {
  display: block;
  margin: 172px 0 0 12px;
  width: 95%;   /* <------------ responsive */
  height: 71px;
  color: #7db8bd;
  font-family: "ProximaNova Extrabold", sans-serif;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
}

.head__container__slogan {
  display: block;
  width: 58%;   /* <------------ responsive */
  height: auto;
  margin: 46px 0 0 14px;
  color: #ffffff;
  font-family: "ProximaNova Light", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.head__container__slogan_bold {
  font-family: "ProximaNova Bold", sans-serif;
}

.head__container__registration {
  display: block;
  width: 56%;     /* <------------ responsive */
  height: 51px;
  margin: 71px 0 0 12px;
}

.head__container__btn{
  width: 100%;
  height: 100%;
  border: none;
  color: #ffffff;
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -0.9px 0.5px 1px rgba(0, 0, 0, 0.35);
  background: url(../img/reg_btn.png) no-repeat 0;
  background-size: cover;
}

.head__container__btn:hover {
  border: none;
  text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.head__container__btn:active {
  margin: 2px 0 0 1px;
  border: none;
}
.head__container__btn:after {
  border: none;
}

.part1 {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.part1__container {
  display: block;
  width: 100%;
  height: 686px;
  margin: 85px auto 37px;
  background: url(../img/circle_all.png) no-repeat center;
  background-size: contain;
}

.part1__container__title {
  display: block;
  margin: 0 auto;
  padding-top: 23px;
  width: 650px;
  height: 107px;
  font-family: "ProximaNova RegularIt", sans-serif;
  font-size: 35px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.part1__container__title_color {
  font-family: "ProximaNova Extrabold", sans-serif;
  color: #824742;
}

.part1__container__media {
  display: block;
  margin: 63px auto 0;
  width: 547px;
  height: 310px;
}

.part1__container__slider {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  background-color: #352c3a;
  border: 3px solid #ffffff;
}

.part1__container__slider:active {
  box-shadow: 0 0 10px #7db8bd;
  border: 3px solid #7db8bd;
}

.part1__container__play {
  display: block;
  width: 51px;
  height: 51px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 116px auto;
  text-align: center;
  cursor: pointer;
}

.part1__container__arrow,
.fa-play {
  padding: 2px 12px;
  color: #352c3a;
}

.part1__container__play:hover {
  box-shadow: 0 0 10px #7db8bd;
  border: 1px solid #7db8bd;
}



.part1__container__partner,
.part3__container__partner,
.part5__container__partner,
.part7__container__partner,
.part16__container__partner {
  display: block;
  position: relative;
  width: 381px;
  height: 51px;
  margin: 50px auto 0;
}

.part1__container__btn {
  display: block;
  position: absolute;
  width: 381px;
  height: 51px;
  background-color: #7db8bd;
  transform: skewX(20deg);
  -webkit-box-shadow: 2px 4px 0px 0px rgba(130,71,66,1);
  -moz-box-shadow: 2px 4px 0px 0px rgba(130,71,66,1);
  box-shadow: 2px 4px 0px 0px rgba(130,71,66,1);
  box-sizing: border-box;
}

.part1__container__link {
  display: block;
  position: absolute;
  width: 381px;
  height: 51px;
  top: 6px;
  color: #ffffff;
  text-shadow: -0.9px 0.5px 1px rgba(0, 0, 0, 0.35);
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 23px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

.part3__container__btn,
.part5__container__btn,
.part7__container__btn,
.part16__container__btn {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/partner_btn.png") no-repeat 0;
  background-size: cover;
  color: #ffffff;
  text-shadow: -0.9px 0.5px 1px rgba(0, 0, 0, 0.35);
  font-family: "ProximaNova Bold", sans-serif;
  font-size: 23px;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
}

.part1__container__link:hover {
  text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.9);
  border: none;
  cursor: pointer;
}
/*.part1__container__btn:hover,*/
.part3__container__btn:hover,
.part5__container__btn:hover,
.part7__container__btn:hover,
.part16__container__btn:hover {
  text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.9);
  border: none;
  cursor: pointer;
}

.part1__container__partner:active {

}

/*.part1__container__btn:active,*/
.part3__container__btn:active,
.part5__container__btn:active,
.part7__container__btn:active,
.part16__container__btn:active {
  margin: 2px 0 0 1px;
  border: none;
}
.part1__container__btn:after,
.part3__container__btn:after,
.part5__container__btn:after,
.part7__container__btn:after,
.part16__container__btn:after {
  border: none;
}

.part2 {
  display: block;
  margin: 0 auto;
  height: 380px;    /* <------------ responsive */
  background-color: rgba(241, 241, 241, 0.57);
}

.part2__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.part2__container__picture {
  display: block;
  float: left;
  margin: 82px 2% 15px 10%;    /* <------------ responsive */
  width: 15%;
}

.part2__container__article {
  display: block;
  /*float: left;*/   /* <------------ responsive */
  width: 85%;   /* <------------ responsive */
  margin: 0 auto;   /* <------------ responsive */
}

.part2__container__title {
  padding: 41px 0 30px;   /* <------------ responsive */
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
}

.part2__container__text {
  font-family: "ProximaNova Light";
  font-size: 22px;
  line-height: 24px;
}

.part2__container__text-mod {
  font-family: "ProximaNova Bold";
  font-size: 22px;
  line-height: 24px;
}

.bold-text {
  text-align: center;
  margin: 0 0 0 0;   /* <------------ responsive */
}

.part3 {
  display: block;
  margin: 0 auto;
  height: 881px;
}

.part3__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part3__container__top {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.part3__container__title {
  display: block;
  padding: 61px 0;
  width: 100%;
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}

.part3__container__title_color {
  font-family: "ProximaNova BoldIt";
  color: #8d5652;
}

.part3__container__scheme {
  display: block;
  margin: 0 auto 77px;
  /*width: 1061px;*/
  width: 100%;   /* <------------ responsive */
  height: 490px;
  font-family: "ProximaNova Light";
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  background: url(../img/fon_1.png) no-repeat center;
  background-size: contain;
}

.part3__container__arrows {
  display: block;
  /*display: none;*/
  margin: 0 auto;
  width: 100%;
  height: 410px;
  background: url(../img/fon_arrows.png) no-repeat center;
  background-size: initial;
}

.part3__container__center {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 62px;
}

.part3__container__blocks {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -170px;
}

.part3__container__block1 {
  display: inline-block;
  margin: 125px 34% 0 0;   /* <------------ responsive */
  width: 300px;
  height: 47px;
}

.part3__container__block2 {
  display: inline-block;
  width: 327px;
  height: 70px;
}

.part3__container__block3 {
  display: inline-block;
  margin: 126px 31% 0 0;   /* <------------ responsive */

  width: 311px;
  height: 63px;
}

.part3__container__block4 {
  display: inline-block;
  width: 328px;
  height: 51px;
}

.part3__container__block5 {
  display: inline-block;
  margin: 55px 0 0 0;   /* <------------ responsive */
  width: 300px;
  height: 51px;
}

.part3__container__box {
  display: none;
}

.part4 {
  display: block;
  margin: 0 auto;
  height: 596px;
  background: url("../img/fon_part4.png") no-repeat 0;
  background-size: cover;
}

.part4__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part4__container__form {
  display: block;
  width: 88%;
  height: 506px;
  margin: 0 auto;
  padding: 41px 0;
  background: url("../img/form_part4.png") no-repeat center;
  background-size: contain;
}

.part4__container__text {
  display: block;
  margin: 0 40px 40px 35px;
  max-width: 100%;
}

.part4__container__textbold {
  font-family: "ProximaNova Bold";
}

.part4__container__title {
  margin: 40px 0 64px;
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 18px;
  text-transform: uppercase;
  color: #7db8bd;
  text-align: center;
}

.part4__container__review {
  display: block;
  width: 98%;
  font-family: "ProximaNova Light";
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.part4__container__reviewer {
  display: block;
  margin: 0 140px 5px;
  font-family: "ProximaNova RegularIt";
  font-size: 24px;
  text-align: right;

}

.part4__container__arrowleft {
  display: block;
  position: relative;
  float: left;
  top: 250px;
  text-decoration: none;
}

.part4__container__arrowright {
  display: block;
  position: relative;
  float: right;
  top: 250px;
  text-decoration: none;
}

.part5 {
  display: block;
  margin: 0 auto;
  height: 986px;
}

.part5__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part5__container__top {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.part5__container__title {
  display: block;
  padding: 61px 0;
  width: 100%;
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
}

.part5__container__title_color,
.part6__container__title_color,
.part7__container__title_color,
.part8__container__title_color {
  font-family: "ProximaNova BoldIt";
  color: #8d5652;
}

.part5__container__scheme {
  display: block;
  position: relative;
  margin: 0 auto;
  /*width: 1061px;*/
  width: 100%;   /* <------------ responsive */
  max-width: 812px;
  height: 611px;
  font-family: "ProximaNova Light";
  font-size: 18px;
  line-height: 18px;
  /*text-align: center;*/
  background: url(../img/part5_fon1.png) no-repeat center;
  background-size: contain;
}

.part5__container__center {
  display: block;
  position: absolute;
  width: 249px;
  height: 236px;
  top: 29%;
  left: 34%;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
  overflow: hidden;
}

.part5__container__block1 {
  display: block;
  float: left;
  margin-left: -8%;   /* <------------ responsive */
  padding: 135px 0 0 0;
  width: 37%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
}

.part5__container__block2 {
  display: block;
  float: right;
  margin-right: -8%;   /* <------------ responsive */
  padding: 127px 0 0 0;
  width: 34%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
}

.part5__container__block3 {
  display: block;
  margin-left: 33%;   /* <------------ responsive */
  padding: 70px 0 0 0;
  width: 38%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
}
.part5__container__block4 {
  display: block;
  float: left;
  margin-left: -8%;   /* <------------ responsive */
  padding: 160px 0 0 0;
  width: 39%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
  clear: both;
}
.part5__container__block5 {
  display: block;
  float: right;
  margin-right: -8%;   /* <------------ responsive */
  padding: 152px 0 0 0;
  width: 34%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
}
.part5__container__block6 {
  display: block;
  float: left;
  padding: 15px 0 0 0;   /* <------------ responsive */
  margin-left: 34%;   /* <------------ responsive */
  width: 37%;   /* <------------ responsive */
  height: 70px;
  text-align: justify;
}

.part5__container__bold,
.part7__container__bold {
  font-family: "ProximaNova Bold";
}

.part5__container__box {
  display: none;
}

.part6 {
  display: block;
  margin: 0 auto;
  height: 733px;
  background-color: #f8f8f9;
}

.part6__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.part6__container__top {
  display: block;
  width: 100%;
  text-align: center;
}

.part6__container__title {
  display: block;
  padding: 47px 0;
  width: 100%;
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  /*text-align: center;*/
}

.part6__container__article {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.part6__container__left {
  display: block;
  float: left;
  width: 55%;    /* <------------ responsive */
  height: 100%;   /* <------------ responsive */
  margin: 0 0 0 0;
}

.part6__container__left_top {
  display: block;
  width: 95%;
  height: 100%;   /* <------------ responsive */
  padding: 0 0 10px 0;   /* <------------ responsive */
  margin: 5px 0 25px 2%;   /* <------------ responsive */
  font-family: "ProximaNova Bold";
  font-size: 23px;
  color: #090909;
  line-height: 24px;
  text-align: center;
  border-bottom: 3px solid #231f20;
}

.part6__container__left_title {
  margin: 0 0 0 1%;    /* <------------ responsive */
}

.part6__container__left_text {
  display: block;
  width: 87%;   /* <------------ responsive */
  height: 100%;   /* <------------ responsive */
  margin: 0 0 0 8%;   /* <------------ responsive */
  padding: 0 5px 0 10px;
  font-family: "ProximaNova Light";
  font-size: 19px;
  line-height: 20px;
  color: #090909;
}

.part6__container__right {
  display: block;
  float: left;
  width: 44%;   /* <------------ responsive */
  margin: 10px 0 0 0;   /* <------------ responsive */
}

.part6__container__image {
  display: block;
  width: 100%;
}

.part7 {
  display: block;
  margin: 0 auto;
  height: 762px;
}

.part7__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part7__container__top {
  display: block;
  width: 100%;
  margin: 67px auto 75px;
  text-align: center;
  font-family: "ProximaNova RegularIt";
  font-size: 35px;
  line-height: 20px;
  color: #1d1d1d;
}

.part7__container__article {
  display: block;
  width: 100%;
  height: 515px;
  margin: 0 0 0 0;
}

.part7__container__left {
  display: block;
  float: left;
  width: 48%;
}

.part7__container__left__pic {
  margin: 0 0 0 115px;
  width: 64%;   /* <------------ responsive */
}

.part7__container__right {
  display: block;
  float: left;
  width: 48%;
  font-family: "ProximaNova Light";
  font-size: 19px;
  color: #060606;
  line-height: 20px;
}

.part8 {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 722px;
  background: url('../img/part8_fon.jpg') no-repeat 0;
  background-size: cover;
}

.part8__rightpic {
  display: block;
  position: absolute;
  top: 135px;
  right: -45px;
}

@media screen and (max-width: 1020px){
  .part8__rightpic {
    display: none;
  }

}

.part8__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  color: #ffffff;
}

.part8__container__top {
  display: block;
  padding: 41px 0;
  width: 100%;
  font-size: 35px;
  text-align: center;
  line-height: 36px;
}

.part8__container__title {
  font-family: "ProximaNova RegularIt";
  text-transform: uppercase;
}

.part8__container__box {
  display: block;
  position: relative;
}

.part8__container__left {
  display: block;
  /*float: left;
  margin: 55px 0 0 0;*/
  position: absolute;
  top: 45px;
  left: 0;
}

.part8__container__right {
  display: block;
  width: 545px;
  margin: 0 0 0 160px;
  font-family: "ProximaNova Light";
  font-size: 19px;
  line-height: 20px;
}

.part8__container__list {
  display: block;
}

.part8__container__item--mod1 {
  margin: 0 0 20px 0;
}

.part8__container__item--mod2 {
  margin: 0 0 20px 39px;
  width: 540px;
}

.part8__container__item--mod3 {
  margin: 0 0 20px 90px;
  width: 525px;
}

.part8__container__item--mod4 {
  margin: 0 0 20px 159px;
  width: 540px;
}

.part8__container__item--mod5 {
  margin: 0 0 20px 239px;
  width: 520px;
}

.part8__container__item--mod6 {
  margin: 0 0 20px 318px;
  width: 504px;
}

.part14 {
  display: block;
  margin: 0 auto;
  height: 466px;
}

.part14__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part14__container__left {
  display: block;
  float: left;
  margin: 64px 0;
  width: 42%;
  text-align: center;
}

.part14__container__right {
  display: block;
  float: left;
  width: 50%;
  margin: 64px 0;
}

.part14__container__text {
  font-family: "ProximaNova Light";
  font-size: 19px;
  line-height: 20px;
}

.part14__container__text--mod {
  font-family: "ProximaNova Bold";
}

.part14__container__title {
  display: block;
  margin: 0 0 39px 0;
  font-family: "ProximaNova BoldIt";
  font-size: 35px;
  line-height: 35px;
  color: #7db8bd;
  text-transform: uppercase;
  text-align: center;
}

.part14__container__title--mod {
  color: #8d5652;
}

.part15 {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 508px;
  background: url('../img/part15_fon.jpg') no-repeat 0 23px;
  background-size: 100% 479px;
  /*border: 1px solid red;*/
}

.part15__rightpic {
  display: block;
  position: absolute;
  top: 0;
  right: 50px;
}

.part15__container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.part15__container__article {
  display: block;
  padding:  72px 0 0 0;
  width: 50%;
}

.part15__container__title {
  display: block;
  margin: 0 0 45px 0;
  font-family: "ProximaNova BoldIt";
  font-size: 35px;
  color: #7db8bd;
}

.part15__container__text {
  font-family: "ProximaNova Light";
  font-size: 19px;
  line-height: 20px;
  color: #fff;
}

.part16 {
  display: block;
  margin: 0 auto;
  height: 715px;
}

.part16__container {
  display: block;
  margin: 7px auto;
  max-width: 1200px;
}

.part16__container__article {
  display: block;
  margin: 0 auto;
  width: 678px;
  height: 545px;
}

.part16__container__title {
  display: block;
  margin: 50px;
  font-family: "ProximaNova BoldIt";
  font-size: 35px;
  color: #8d5652;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.part16__container__text {
  font-family: "ProximaNova Regular";
  font-size: 19px;
  line-height: 20px;
  color: #121212;
}

.part16__container__text--mod {
  font-family: "ProximaNova Bold";
}

.part16__container__partner {
  display: block;
}

.footer {
  display: block;
  /*height: 100px;*/
}

.footer__container {
  display: block;
  width: 85%;
  height: 45px;
  max-width: 1200px;
  margin: 34px auto 22px;
}

.footer__container__logo {
  display: block;
  float: left;
}

.footer__container__contacts {
  display: block;
  float: right;
  margin: 0 50px 0 0;
  font-family: "ProximaNova Regular", sans-serif;
  text-align: right;
}

.footer__container__question {
  font-size: 16px;
}

.footer__container__write {
  font-size: 23px;
}
