@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/Roboto-Light.ttf") format("ttf");
	font-style: normal;
}

.wrapper {
	display: block;
	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 14px;

}

.head {
	display: block;
	height: 540px;
	background: url("../img/background.jpg") no-repeat center 0;
	background-size: cover;
}
.head__container {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	color: #fff;
}

.head__container__sign {
	display: block;
	float: right;
	margin-top: 20px;
	padding-top: 0;
}

.head__container__sign__log {
	display: inline-block;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.head__container__sign__up {
	display: inline-block;
	margin: 0 85px 0 9px;
	padding: 9px 18px;
	border: 2px solid #fff;
	border-radius: 20px;
	cursor: pointer;
}

.head__container__sign__log:hover,
.head__container__sign__up:hover {
	text-shadow: 1px 1px 0 #979797;
}

.head__container__url {
	display: block;
	float: none;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 173px 0 29px 0;
	letter-spacing: 0.7px;
	font-size: 20px;
	font-weight: bold;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.head__container__title {
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 1.25;
}

.head__container__title__top {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-weight: bold;
	font-size: 30px;
}

.head__container__title__top_mod {
	letter-spacing: 0.4px;
}

.head__container__title__undertop {
	display: block;
	width: 70%;
	margin: 8px auto;
	font-family: "RobotoLight", Arial, sans-serif;
	font-size: 18px;
}

.head__container__title__btn {
	display: block;
	width: 256px;
	margin: 15px auto;
	padding: 11px 15px 11px 9px;
	font-weight: bold;
	background-color: #ff4e50;
	border-radius: 20px;
	cursor: pointer;
}

.steps {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	height: 791px;
}

.steps__title {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 320px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.steps__title__text {
	margin: 37px 0 16px 0;
	padding: 0;
	letter-spacing: 0.5px;
}

.steps__all {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.steps__first {
	display: block;
	float: left;
	width: 94%;
	height: 239px;
	margin: 0px 3%;
	background: url("../img/stepF.jpg") no-repeat center 0;
	background-size: cover;
	border-radius: 4px;
	color: #fff;
}

.steps__second {
	display: block;
	float: left;
	width: 94%;
	height: 240px;
	margin: 11px 3%;
	background: url("../img/stepS.jpg") no-repeat center 0;
	background-size: cover;
	border-radius: 4px;
	color: #fff;
}

.steps__third {
	display: block;
	float: left;
	width: 94%;
	height: 240px;
	margin: -1px 3%;
	background: url("../img/stepT.jpg") no-repeat center 0;
	background-size: cover;
	border-radius: 4px;
	color: #fff;
}

.steps__arrow {
	display: none;
	width: 100%;
	margin: 39px 20px;
}

.steps__arrow__left {
	display: inline-block;
	float: left;
}

.steps__arrow__right {
	display: inline-block;
	float: right;
	margin: 0 41px 0 0;
}

.arrow__left--second {
	margin: 0 0 0 -10px;
}

.arrow__right--second {
	margin: 0 30px 0 0;
}

.arrow__left--third {
	margin: 0 0 0 2px;
}

.arrow__right--third {
	margin: 0 39px 0 0;
}

.steps__arrow__left:hover,
.steps__arrow__right:hover {
	cursor: pointer;
}


.steps__first__name {
	display: block;
	margin: 69px 0px 18px 22px;
}

.steps__second__name {
	display: block;
	margin: 99px 25px 20px 20px;
}

.steps__third__name {
	display: block;
	margin: 69px 25px 20px 21px;
}

.steps__first__name__one,
.steps__second__name__two,
.steps__third__name__three {
	display: block;
	width: 40px;
	padding: 5px 15px;
	font-family: MontserratRegular, Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	background-color: #ff4e50;
	border-radius: 15px;
	letter-spacing: 0.6px;
}

.steps__first__title,
.steps__second__title,
.steps__third__title {
	display: block;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
}

.steps__first__title {
	margin: -2px 30px 12px 20px;
}

.steps__second__title,
.steps__third__title {
	margin: -4px 30px 12px 20px;
}

.steps__first__title__one,
.steps__second__title__two,
.steps__third__title__three {
  letter-spacing: 0.6px;
	line-height: 1.2;
}

.steps__first__text,
.steps__second__text,
.steps__third__text {
	display: block;
	margin: 0 10px 0 20px;
	font-family: RobotoLight, Arial, sans-serif;
	color: #ccc;
	line-height: 1.2;
}

.steps__first__text {
	letter-spacing: -0.2px;
}

.steps__second__text {
	letter-spacing: -0.1px;
}


.partner {
	display: block;
	margin: 20px auto;
	height: 1061px;
	max-width: 320px;
	text-align: center;
}

.partner__title {
	display: block;
	width: 97%;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
	color: #333333;
	letter-spacing: -0.9px;
	line-height: 1.25;
}

.partner__column {
	display: block;
	width: 100%;
}

.partner__column__first,
.partner__column__second,
.partner__column__third,
.partner__column__fourth {
	display: block;
	float: none;
	width: 94%;
}

.partner__column__first {
	margin: 11px;
}

.partner__column__second {
	margin: 25px 0 0 10px;
}

.partner__column__third {
	margin: 25px 0 10px 8px;
}

.partner__column__fourth {
	margin: 26px 0 0 8px;
}

.partner__column__first__photo,
.partner__column__second__photo,
.partner__column__third__photo,
.partner__column__fourth__photo {
	display: block;
	margin: 15px auto;
	width: 120px;
	height: 120px;
	background-size: contain;
	border-radius: 50%;
}

.partner__column__first__photo {
	background: url("../img/photo1.jpg") no-repeat center 0;
}

.partner__column__second__photo {
	background: url("../img/photo2.jpg") no-repeat center 0;
}

.partner__column__third__photo {
	background: url("../img/photo3.jpg") no-repeat center 0;
}

.partner__column__fourth__photo {
	background: url("../img/photo4.jpg") no-repeat center 0;
}

.partner__column__first__photo__log,
.partner__column__second__photo__log,
.partner__column__third__photo__log,
.partner__column__fourth__photo__log {
	display: block;
	position: relative;
	float: right;
	top: 87px;
	right: -3px;
	width: 33px;
	height: 32px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.partner__column__first__photo__log {
	background: url("../img/log_tv.png") no-repeat center #ff4e50;
}

.partner__column__second__photo__log {
	background: url("../img/log_bottle.png") no-repeat center #ffa507;
}

.partner__column__third__photo__log {
	background: url("../img/log_cup.png") no-repeat center #1cd7ad;
}

.partner__column__fourth__photo__log {
	background: url("../img/log_plane.png") no-repeat center #4e73db;
}

.partner__column__first__name,
.partner__column__second__name,
.partner__column__third__name,
.partner__column__fourth__name {
	margin: 20px auto 15px;
	font-weight: 600;
	color: #333333;
	width: 115px;
	letter-spacing: 0.6px;
}

.partner__column__first__about,
.partner__column__second__about,
.partner__column__third__about,
.partner__column__fourth__about {
	margin: 10px auto;
  width: 230px;
	font-family: RobotoLight, Arial, sans-serif;
	color: #666666;
	line-height: 1.25;
}

.partner__btn {
	display: block;
	width: 253px;
	margin: 26px 18px;
	padding: 11px;
	font-weight: 600;
	color: #ff4e50;
	text-align: center;
	letter-spacing: 0.6px;
	border: 2px solid #ff4e50;
	border-radius: 25px;
	cursor: pointer;
}

.partner__btn:active {
	text-shadow: 1px 0.5px 0 #979797;
	user-select: none;
}

.ideas {
	display: block;
	max-width: 320px;
	height: 980px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 0.6px;
}

.ideas__title {
	display: block;
	font-size: 22px;
	font-weight: 600;
	color: #333333;
	padding: 10px 0px;
	line-height: 1.2;
}

.ideas__block__all {
	display: block;
	width: 100%;
	margin: 0 auto;
}


.ideas__block {
	display: block;
	width: 300px;
	height: 122px;
	margin: 4px auto;
	cursor: pointer;
	clear: both;
	overflow: hidden;
}

.block--two {
	padding: 4px;
}

.block--four {
	padding: 5px;
}

.block--six {
	padding: 3px;
}

.block--seven {
	padding: 1px;
}

.ideas__block__fon {
	border-radius: 4px;
	height: 100%;
}

.fon--one {
	background: url("../img/block1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--two {
	background: url("../img/block2.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--three {
	background: url("../img/block3.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--four {
	background: url("../img/block4.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--five {
	background: url("../img/block5.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--six {
	background: url("../img/block6.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--seven {
	background: url("../img/block7.jpg") no-repeat center 0;
	background-size: cover;
}

.ideas__block__text {
	font-size: 22px;
	font-weight: 600;
  color: #fff;
  padding: 49px 20px;
	letter-spacing: 0.9px;
}

.text--two {
	padding: 51px 20px;
	letter-spacing: 0.5px;
}

.text--three{
	padding: 33px 50px 39px;
	line-height: 1.2;
	letter-spacing: 0.6px;
}

.text--four {
	padding: 50px 20px;
	letter-spacing: 0.1px;
}

.text--five {
	padding: 49px 20px 0;
	letter-spacing: 0.6px;
}

.text--six {
	padding: 50px 20px;
}

.text--seven {
	padding: 48px 20px;
	letter-spacing: 0.7px;
}

.search {
	display: block;
	max-width: 320px;
	height: 190px;
	margin: 33px auto;
	text-align: center;
	color: #333;
}

.search__title {
	font-size: 22px;
	font-weight: 600;
	margin: 10px auto;
	letter-spacing: 0.7px;
	line-height: 1.2;
}

.search__question {
	margin: 0 auto;
	padding: 3px 0;
	font-family: RobotoLight, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: -0.1px;
}

.search__form {
	display: block;
	width: 90%;
	margin: 4px auto;
}

.search__form__field {
	margin: 10px auto;
	width: 255px;
	float: none;
	padding: 12px;
	font-family: RobotoLight, Arial, sans-serif;
	border-radius: 5px;
	border: 1px solid #ccc;
	letter-spacing: 0.4px;
}

.search__form__field:focus {
	box-shadow: 0px 0px 6px #ccc;
	outline: none;
}

.search__form__btn {
	width: 280px;
	float: none;
	margin: -1px auto;
	padding: 12px 12px 13px;
	font-weight: 600;
	color: #fff;
	background-color: #ff4e50;
	border: none;
	border-radius: 20px;
	letter-spacing: 1.1px;
	cursor: pointer;
}

.search__form__btn:active,
.search__form__btn:focus {
	outline: none;
}

.box_color {
	width: 100%;
	margin: 40px auto 10px;
	height: 4px;
	background-color: #ff4e50;
}

.footer {
	display: block;
	max-width: 320px;
	height: 163px;
	margin: 0 auto;
	padding: 8px;
	text-align: center;
}

.footer__title {
	display: block;
	float: none;
	margin: 0 auto;
	font-size: 16px;
	color: #ff4e50;
	text-transform: uppercase;
	font-weight: 700;
}

.footer__name {
	letter-spacing: 0.7px;
}

.footer__company {
	display: block;
	float: none;
	margin: 14px auto;
	text-align: center;
}

.footer__company__ur,
.footer__partners__link {
	font-weight: 600;
	color: #333;
	text-decoration: none;
}

.footer__company__menu {
	display: block;
	font-family: RobotoLight, Arial, sans-serif;
}

.footer__company__item {
	display: inline-block;
	margin: 6px 5px;
}

.footer__company__link {
	text-decoration: none;
	color: #666;
}

.footer__partners {
	display: block;
	float: none;
	margin: -4px 10px 12px;
}

.footer__logotype {
	display: block;
	float: none;
	margin: -1px 1px 0 0;
}

.footer__logotype__by {
	margin: 18px 10px 8px;
	color: #ccc;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

@media screen and (max-width: 767px) and (min-width: 321px) {

.head__container {
	max-width: 767px;
}

.steps {
	max-width: 767px;
}

.steps__first,
.steps__second,
.steps__third {
	max-width: 520px;
}

.ideas {
	max-width: 767px;
}

.ideas__block {
	width: 94%;
	/*height: 12.5%;*/
}

.ideas__block__fon {
	max-width: 520px;
}


}

@media screen and (min-width: 551px) and (max-width: 767px) {

.steps__all {
	width: 551px;
}

	.steps__first,
	.steps__second,
	.steps__third {
		max-width: 520px;
		/*margin: 10px auto;*/
	}

	.ideas__block__all {
		width: 553px;
	}

	.ideas__block__fon {
		max-width: 520px;
	}


}

@media screen and (min-width: 768px) and (max-width: 959px) {

.head__container {
	                      /*max-width -- ЭТО ВАЖНО!!!! */
	max-width: 959px;
	/*min-width: 768px;*/
	/*width: 100%;*/
}

.head__container__sign {
	margin-top: 38px;
}

.head__container__sign__up {
	margin: 0 50px 0 9px;
}

.head__container__url {
	width: auto;
	float: left;
	padding: 48px 0 29px 49px;
	letter-spacing: 0.8px;
}

.head__container__title {
	margin: 117px auto 0;
}

.head__container__title__top {
  width: 500px;
  margin: 0 auto;
	padding: 1px 0 0 0;
  letter-spacing: 0.5px;
  line-height: 1.22;
	font-size: 52px;
}

.head__container__title__top_mod {
	letter-spacing: 1px;
}

.head__container__title__undertop {
	margin: 24px auto;
	letter-spacing: -0.2px;
}

.head__container__title__btn {
	width: 201px;
	margin: 32px auto;
	padding: 12px 15px 11px 9px;
}

.steps {
	max-width: 959px;
	height: 530px;
}

.steps__title {
	max-width: 959px;
}

.steps__title__text {
	margin: 97px 0 16px 0;
	padding: 0 0px 0 12px;
  letter-spacing: 0.7px;
}

.steps__first {
	width: 30.7%;
  height: 400px;
  margin: 20px 1.4%;
	background: url("../img/stepF-1.jpg") no-repeat center 0;
	background-size: cover;
}

.steps__second {
	width: 30.7%;
	height: 400px;
	margin: 20px 1.2%;
	background: url("../img/stepS-1.jpg") no-repeat center 0;
	background-size: cover;
}

.steps__third {
	width: 30.7%;
	height: 400px;
	margin: 20px 1.3%;
	background: url("../img/stepT-1.jpg") no-repeat center 0;
	background-size: cover;
}

.steps__arrow {
	display: block;
}

.steps__first__name {
  margin: 212px 0px 18px 20px;
}

.steps__second__name {
	margin: 259px 25px 20px 20px;
}

.steps__third__name {
	margin: 212px 25px 20px 22px;
}

.steps__first__title {
	margin: -2px 30px 12px 18px;
}

.steps__second__title,
.steps__third__title {
	margin: -4px 20px 12px 19px;  /* !!!!! */
}

.steps__first__text,
.steps__second__text,
.steps__third__text {
	margin: 0 10px 0 18px;
}

.steps__first__text {
	letter-spacing: -0.3px;
	line-height: 1.25;
}

.steps__second__text {
	letter-spacing: 0.1px;
	line-height: 1.2;
}

.steps__third__text {
	letter-spacing: -0.3px;
	line-height: 1.25;
}


.partner {
	height: 695px;
	margin: 23px auto;
	max-width: 959px;
}

.partner__title {
	width: 100%;
}

.partner__column {
	width: 100%;
	margin: 0 auto;
}

.partner__column__first {
	float: left;
	margin: 0 0 0 18%;
	width: 250px;
}

.partner__column__third {
	float: left;
	margin: 34px 0 0 18%;
	width: 250px;
}

.partner__column__second,
.partner__column__fourth {
	float: right;
	margin: 0 16% 0 0;
	width: 250px;
}

.partner__column__first__photo,
.partner__column__second__photo,
.partner__column__third__photo,
.partner__column__fourth__photo {
	/*margin: 32px 0 0 197px;*/
}

.partner__column__first__photo {
	background: url("../img/photo1.jpg") no-repeat  -2px -1px;;
	margin: 32px 0 0 59px;
}

.partner__column__second__photo {
	margin: 32px 0 0 66px;
}

.partner__column__third__photo {
	margin: 22px 0 0 59px;
}

.partner__column__fourth__photo {
	margin: 22px 0 0 51px;
}

.partner__column__first__name,
.partner__column__third__name {
	margin: 20px 0 0 60px;
}

.partner__column__second__name {
	margin: 20px 0 0 69px;
}

.partner__column__fourth__name {
	margin: 20px 0 0 54px;
}

.partner__column__first__about,
.partner__column__third__about {
	margin: 15px  0 0 3px;
}

.partner__column__second__about {
	margin: 15px 0 0 9px;
}

.partner__column__fourth__about {
	margin: 15px 0 0 -4px;
}

.partner__btn {
	margin: 563px auto 0;
	width: 189px;
	padding: 11px 0;
}

.ideas {
	max-width: 959px;
	height: 1101px;
}

.ideas__title {
	padding: 10px 0px 32px;
}

.ideas__block {
	display: inline-block;
	width: 31%;
	height: 310px;
	margin: 0px 7px;
}

.block--two {
	padding: 0px;
}

.block--four {
	padding: 0px;
	margin: 18px 0 0 0;
}

.block--five {
	width: 64%;
	margin: 0 0 0 14px;
}

.block--six {
	width: 64%;
	padding: 0px;
	margin: 18px 7px 0 9px;
}

.block--seven {
	padding: 0px;
}

.fon--one {
	background: url("../img/block1-1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--two {
	background: url("../img/block2-1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--three {
	background: url("../img/block3-1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--four {
	background: url("../img/block4-1.jpg") no-repeat center 0;
  background-size: cover;
}

.fon--five {
	background: url("../img/block5-1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--six {
	background: url("../img/block6-1.jpg") no-repeat center 0;
	background-size: cover;
}

.fon--seven {
	background: url("../img/block7-1.jpg") no-repeat center 0;
	background-size: cover;
}

.ideas__block__text {
  padding: 145px 6% 0px 6%;
}

.text--two {
	padding: 133px 6% 0px 8%;
	line-height: 1.1;
}

.text--three{
	padding: 128px 6% 0px 6%;
}

.text--five {
	padding: 145px 6% 0 7%;
}

.text--seven {
	padding: 143px 6% 0px 6%;
}

.search {
	max-width: 959px;
	height: 187px;
	margin: 33px auto 69px;
}

.search__title {
	margin: 30px auto;
}

.search__form {
	width: 438px;
	margin: 26px auto;
}

.search__form__field {
	margin: 10px 0 0 13px;
	width: 214px;
	float: left;
}

.search__form__btn {
	width: 160px;
	float: left;
	margin: 10px 0 0 10px;
}

.footer {
	max-width: 959px;
	height: 130px;
}

.footer__title {
	float: left;
	margin: 0 40px;
}

.footer__company {
	float: left;
	margin: 0px 0px 0 43px;
	text-align: left;
}

.footer__company__item {
	display: block;
	margin: 16px 0 -6px -1px;
}

.footer__partners {
	float: left;
	margin: 0 0 0 107px;
}

.footer__logotype {
	float: right;
	margin: -17px 40px 0 0px;
}

.footer__logotype__by {
	margin: 18px -36px 8px 0;
}


}

@media screen and (min-width: 960px) {



}

/*}*/
