@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/Roboto-Light.ttf") format("ttf");
	font-style: normal;
	font-weight: normal;
}

.wrapper {
	display: block;
	/*width: 100%;*/
	/*height: 100%;*/
}

.head {
	display: block;
	/*width: 100%;*/
	height: 540px;
	background: url("../img/background.jpg") no-repeat center 0;
	background-size: cover;
}
/*@media screen and (max-width: 767px) and (min-width: 320px) {*/
.head__container {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	/*border: 1px solid red;*/
	/*box-sizing: border-box;*/
}

.head__container__sign {
	display: block;
	float: right;
	margin-top: 20px;
}

.head__container__sign__log {
	display: inline-block;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.head__container__sign__up {
	display: inline-block;
	margin: 0 85px 0 9px;
	padding: 9px 18px;
	border: 2px solid #fff;
	border-radius: 20px;
	cursor: pointer;
}

.head__container__sign__log:hover,
.head__container__sign__up:hover {
	text-shadow: 1px 1px 0 #979797;
}

.head__container__url {
	display: block;
	float: left;
	margin: 117px 0 29px 71px;
	letter-spacing: 0.7px;
	font-size: 20px;
	font-weight: bold;

}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

.head__container__title {
	display: block;
	text-align: center;
	line-height: 1.25;
}

.head__container__title__top {
	display: block;
	font-weight: bold;
	font-size: 30px;
}

.head__container__title__top_mod {
	letter-spacing: 0.4px;
}

.head__container__title__undertop {
	display: block;
	margin: 8px 0;
	font-family: "RobotoLight", Arial, sans-serif;
	font-size: 18px;
}

.head__container__title__btn {
	display: block;
	width: 80%;
	margin: 15px 20px;
	padding: 11px;
	font-weight: bold;
	letter-spacing: 0.75px;
	background-color: #ff4e50;
	border-radius: 20px;
}

.steps {
	display: block;
	max-width: 320px;
	margin: 0 auto;
	height: 820px;
	/*border: 1px solid red;*/
	box-sizing: border-box;
}

.steps__title {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 320px;
	font-family: "MontserratBold", Arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.steps__title__text {
	margin: 40px 0 15px 0;
}

.steps__first {
	display: block;
	float: left;
	width: 94%;
	height: 239px;
	margin: 0px 10px;
	background: url("../img/stepF.jpg") no-repeat center 0;
	background-size: cover;
	color: #fff;
}

.steps__second {
	display: block;
	float: left;
	width: 94%;
	height: 240px;
	margin: 10px 10px;
	background: url("../img/stepS.jpg") no-repeat center 0;
	background-size: cover;
	color: #fff;
}

.steps__third {
	display: block;
	float: left;
	width: 94%;
	height: 240px;
	margin: 0 10px;
	background: url("../img/stepT.jpg") no-repeat center 0;
	background-size: cover;
	color: #fff;
}

.steps__first__name {
	display: block;
	margin: 65px 25px 20px 25px;
}

.steps__second__name {
	display: block;
	margin: 100px 25px 20px 25px;
}

.steps__third__name {
	display: block;
	margin: 75px 25px 20px 25px;
}

.steps__first__name__one,
.steps__second__name__two,
.steps__third__name__three {
	display: block;
	/*float: left;*/
	width: 40px;
	padding: 5px 15px;
	font-family: MontserratRegular, Arial, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	background-color: #ff4e50;
	border-radius: 15px;
	/*clear: both;
	content: '';*/
}

.steps__first__title,
.steps__second__title,
.steps__third__title {
	display: block;
	/*float: left;*/
	margin: 0 30px 20px 25px;
	font-family: MontserratBold, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.steps__first__text,
.steps__second__text,
.steps__third__text {
	display: block;
	/*float: left;*/
	margin: 0 10px 0 25px;
	font-family: RobotoLight, Arial, sans-serif;
	font-size: 14px;
	color: #ccc;
	letter-spacing: -0.2px;
}

.partner {
	display: block;
	margin: 0 auto;
	font-family: MontserratBold, Arial, sans-serif;
	/*height: 1500px;*/
	max-width: 320px;
	text-align: center;
	border: 1px solid red;
	box-sizing: border-box;
}

.partner__title {
	display: block;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
	color: #333333;
	letter-spacing: 0.5px;
}

.partner__column {
	display: block;
	font-size: 14px;
	/*width: 100%;*/
}

.partner__column__first,
.partner__column__second,
.partner__column__third,
.partner__column__fourth {
	display: block;
	width: 94%;
	margin: 9px;
}

.partner__column__first__photo,
.partner__column__second__photo,
.partner__column__third__photo,
.partner__column__fourth__photo {
	display: block;
	margin: 15px auto;
	width: 122px;
	height: 122px;
	background-size: contain;
	border-radius: 50%;
}

.partner__column__first__photo {
	background: url("../img/photo1.jpg") no-repeat center 0;
}

.partner__column__second__photo {
	background: url("../img/photo2.jpg") no-repeat center 0;
}

.partner__column__third__photo {
	background: url("../img/photo3.jpg") no-repeat center 0;
}

.partner__column__fourth__photo {
	background: url("../img/photo4.jpg") no-repeat center 0;
}

.partner__column__first__photo__log,
.partner__column__second__photo__log,
.partner__column__third__photo__log,
.partner__column__fourth__photo__log {
	display: block;
	position: relative;
	float: right;
	top: 85px;
	width: 33px;
	height: 33px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.partner__column__first__photo__log {
	background: url("../img/log_tv.png") no-repeat center #ff4e50;
}

.partner__column__second__photo__log {
	background: url("../img/log_bottle.png") no-repeat center #ffa507;
}

.partner__column__third__photo__log {
	background: url("../img/log_cup.png") no-repeat center #1cd7ad;
}

.partner__column__fourth__photo__log {
	background: url("../img/log_plane.png") no-repeat center #4e73db;
}

.partner__column__first__name,
.partner__column__second__name,
.partner__column__third__name,
.partner__column__fourth__name {
	margin: 15px;
	font-weight: 600;
	color: #333333;
}

.partner__column__first__about,
.partner__column__second__about,
.partner__column__third__about,
.partner__column__fourth__about {
	margin: 10px 30px;
	font-family: RobotoLight, Arial, sans-serif;
	color: #666666;
	line-height: 1.3;
}

.partner__btn {
	display: block;
	margin: 20px;
	padding: 12px;
	font-size: 14px;
	color: #ff4e50;
	text-align: center;
	border: 2px solid #ff4e50;
	border-radius: 25px;
	cursor: pointer;
}

.partner__btn:active {
	text-shadow: 0.3px 0.3px 0 #979797;
}



/*}*/
